.btnRegister{
    // float:left;
    //margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
     background:#f96332;

    font-weight: 600;
    width: 20%;
    cursor: pointer;
}

// .h3{

//     margin-left: 9rem;
// }