<app-navbar></app-navbar>


<div class="wrapper">
    
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('https://media-manager.starsinsider.com/gallery/1920/na_5b4854929bf47.jpg');">
  
      </div>
      <div class="container">
        <div class="content-center brand">
            <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27% >
            <br>
            <br>
            <h1 class="h1-seo">Welcome to Jeewaka Arana</h1>
            <h3>A greatest Ayurvedic platform</h3>
        </div>
       
    </div>
  
  </div>
</div>

 






    <div class="card">
        <div class="card-body" style="background-color:black;" >
          
            <div class="row">

                <div class="col col-md-8">


               

                <h3 style="color: #f96332;">The Jeewaka Arana Group</h3>
                <h5 style="color: #f96332;">No:112/A   Aguruwathota Road</h5>
 <h5 style="color: #f96332;">Horana</h5>
  <h5 style="color: #f96332;">Sri Lanka</h5>
<br><br>

<h5 style="color: #f96332;">Sri LankaTel : +94 342 245600</h5>
<h5 style="color: #f96332;">Fax : +94 342 224600</h5>
<h5 style="color: #f96332;">E -mail : jeewakaarana@gmail.com</h5>

<app-here-map
        #map
        appId="oSLwpHRqPiRJAmmiHaTo"
        appCode="65rk36fLF2krVcVC8rmHYQ"
        lat="6.6447002621030515"
        lng="80.07340432967197"
        width="75%"
        height="330px">
    </app-here-map>
    
                  </div>
                 
                  <div class="col col-md-6" style="width: 17rem;">
                    

<!--  -->



                                          
  <!-- <form [formGroup]="form" (ngSubmit)="submit(form.value)"  class="form-horizontal"  >


<div  class="form-group" >
<div class="col-lg-8">
  <label for="" style="color: #f96332;">Name *</label>
  <input class="form-control" style="width: 20rem;" formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" >
  <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
    <div *ngIf="f.Name.errors.required">Name is required</div>
</div>
</div><br>
</div>
<div  class="form-group" >
<div class="col-lg-8">
    <label for="" style="color: #f96332;">Country *</label>
  <input class="form-control" style="width: 20rem;"  formControlName="Country" [ngClass]="{ 'is-invalid': submitted && f.Country.errors }">
  <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
    <div *ngIf="f.Country.errors.required">Country is required</div>
</div>
</div><br>
</div>
<div  class="form-group" >
<div class="col-lg-8">
    <label for="" style="color: #f96332;">Address *</label>
  <input class="form-control" style="width: 20rem;"   formControlName="Address" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" >
  <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
    <div *ngIf="f.Address.errors.required">Address is required</div>
</div>
</div><br>
</div>
<div  class="form-group" >
<div class="col-lg-8">
    <label for="" style="color: #f96332;">Telephone Number *</label>
  <input class="form-control" style="width: 20rem;" formControlName="Number" [ngClass]="{ 'is-invalid': submitted && f.Number.errors }" >
  <div *ngIf="submitted && f.Number.errors" class="invalid-feedback">
    <div *ngIf="f.Number.errors.required">Phone Number is required</div>
</div>
</div><br>
</div>

<div  class="form-group" >
<div class="col-lg-8">
  <label for="" style="color: #f96332;">Email *</label>
<input class="form-control" style="width: 20rem;"    formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" >
<div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
  <div *ngIf="f.Email.errors.required">Email is required</div>
</div>
</div>
</div>

<div  class="form-group" >
  <div class="col-lg-8">
<div class="textarea-container">
    <label for="" style="color: #f96332;">Message *</label>
    <textarea class="form-control"  formControlName="Message" [ngClass]="{ 'is-invalid': submitted && f.Message.errors }" ></textarea>
    <div *ngIf="submitted && f.Message.errors" class="invalid-feedback">
      <div *ngIf="f.Message.errors.required">Message is required</div>
  </div>
  </div>
</div>
</div>
<br><br><br>
<div  class="form-group" >
  <input type="submit" class="btnRegister   float-right" style="width: 15rem;"  value="SEND" />         
  </div> 
<br><br>
<p style="margin-left: 15px;color: #f96332;"><b>* By clicking on SEND US, you acknowledge having read our Privacy notice</b></p>


</form> -->



<!--  -->

                      </div>
    
      </div>
    </div> 
    <app-ufooter></app-ufooter>

    
                
