<nav class="navbar navbar-expand-lg bg-secondary fixed-top navbar-color"color-on-scroll="500">
  <div class="container">
    <img src="assets/img/herbalicon.png" height="30px" width="30px"  />
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
             
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto">


            <li class="nav-item">
              <a class="nav-link"   routerLink="/index" >
                  <i class="now-ui-icons business_bank"></i>
                  <p>Home</p>
              </a>
          </li>


              
          <li class="nav-item">
            <a class="nav-link" routerLink="/index" >
                <i class="now-ui-icons business_globe"></i>
                <p>Change Language</p>
            </a>
        </li>

        

            
      

          <li class="nav-item">
            <a class="nav-link" href="/docAppoinment">
                <i class="now-ui-icons ui-1_calendar-60"></i>
                <p>Appoinments</p>
            </a>
        </li>
                       
        <li class="nav-item">
            <a class="nav-link" href="/complain" >
                <i class="now-ui-icons text_align-center"></i>
                <p>Complains</p>
            </a>
        </li>
        <li class="nav-item dropdown">
         
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
              <i class="now-ui-icons ui-1_zoom-bold"></i>
              <p>Search</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  " href="/doctorname" >Search By Name</a>
            <a class="dropdown-item" href="/diseasename">Search By Diseases</a>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons users_single-02

              "></i>
            <p>Profile</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " [routerLink]="['/fpage',my_id]" > View Profile </a>
            <a class="dropdown-item " href="/doctoradmin"> Edit Profile</a>
            <a class="dropdown-item " [routerLink]="['/report',my_id]" > View Report </a>
            
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/index" >
                <i class="now-ui-icons media-1_button-power"></i>
                <p>Log Out</p>
            </a>
        </li>

           
          </ul>
      </div>
  </div>
</nav>




 
<div class="wrapper">
    
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('../../../assets/img/b3.jpg');">
  
      </div>
      <div class="container">
        <div class="content-center brand">
            <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27% >
            <br>
            <br>
            <h1 class="h1-seo">Welcome to Jeewaka Arana</h1>
            <h3>A greatest Ayurvedic platform</h3>
        </div>
       
    </div>
  
  </div>
</div>




<div class="card">
    <div class="card-body" style="background-color:#929191;">
      
        <div class="row">
            <div class="col col-md-6">
           


            <img src="https://vtemu.by/wp-content/uploads/2014/05/08.jpg" alt="contact">
              </div>


              <div class="col col-md-6" style="width: 17rem;">
                                <div class="container">
                                    <h2 class="title">Report a problem</h2>
                                    <h5>Let us know of the inconvenience</h5>
                                    <div class="row">
                                        <div [formGroup]="userForm"  (ngSubmit)="addIssue()" class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="name" value="name" formControlName="name" placeholder="name" class="form-control" />
                                                <div *ngIf="formErrors.name">
                                                    {{ formErrors.name }}
                                                  </div>   
                                            </div>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="email" value="email" formControlName="email" placeholder="email" class="form-control" />
                                                <div *ngIf="formErrors.email">
                                                    {{ formErrors.email }}
                                                  </div>   
                                            </div>
                                            <div class="textarea-container">
                                                <textarea [(ngModel)]="issue" type="issue" formControlName="issue" required class="form-control" name="name" rows="4" cols="80" placeholder="Describe the problem..."></textarea>
                                                <div *ngIf="formErrors.issue">
                                                    {{ formErrors.issue }}
                                                  </div>   
                                            </div>
                                            <div class="send-button">
                                                <input type="submit" [disabled]="!userForm.valid" class="btn btn-primary btn-round btn-block btn-lg" value="Send Message" (click)="addIssue()">
                                                <span *ngIf="userForm.valid" >Form is valid</span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <h6>*By clicking on SEND US, you acknowledge having read our Privacy notice</h6>
                                </div>
                  </div>
                  </div>
    </div>
  </div>

<!--  -->


            <!-- <h2 style="margin-left: 13rem;color: #01030e;"> Need to get in touch with the team? We’re all ears.</h2> -->

 
 <!-- <footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
          {{data | date: 'yyyy'}}, Designed by Jeewaka Arana Team.
           
        </div>
    </div>
</footer> -->
<app-dfooter></app-dfooter>
