
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(https://monodomo.com/free-wallpapers/ayurveda-wallpapers-desktop-background-For-Free-Wallpaper.jpg)"></div>
    <div class="container">
            
        <div class="col-md-4 content-center">
            <img src="assets/img/logome.png" height="20%" width="20%" />
                <h3>LOGIN</h3>
            <br><br>
            <button class="btn btn-primary btn-round" type="button" routerLink="/dlogin">
                <i class="now-ui-icons users_single-02"></i> as Doctor
            </button>
            <button class="btn btn-primary btn-round" type="button" routerLink="/plogin">
                <i class="now-ui-icons users_single-02"></i> as Patient
            </button>
    </div>
   
</div>
