
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(https://monodomo.com/free-wallpapers/ayurveda-wallpapers-desktop-background-For-Free-Wallpaper.jpg)"></div>
  <div class="container">
      <div class="col-md-4 content-center">
          <div class="card card-login card-plain">
              <form class="form" method="" action="">
                  <div class="header header-primary text-center">
                      <!-- <div class="logo-container">
                          <img src="assets/img/now-logo.png" alt=""  width="100px" height="100px" style="align-content: center">
                      </div> -->
                  </div>
                  <div class="content">
                    <div class="wrapper">
                        <form class="form-signin" [formGroup]="formdata" (ngSubmit) = "Login(loginForm.value)">       
                          <h3 class="heading">Login</h3>
                          <div class="inputdiv"><input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
                          </div>

                          <div class="inputdiv"><input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
                          </div>

                          
                            <label class="checkbox">
                            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                          </label>
                          <input type="submit" class="btn btn-primary btn-round btn-lg btn-block"  formControlName="submit" value="Login" (click)="Login(loginForm.value)"/>
                      
                        </form>
                      </div>
                  </div>

                  
                  <div class="pull-left">
                      <h6>
                          <a href="#pablo" class="link">Create Account</a>
                      </h6>
                  </div>
                  <div class="pull-right">
                      <h6>
                          <a href="#pablo" class="link">Need Help?</a>
                      </h6>
                  </div>
              </form>
          </div>
      </div>
  </div>
 
</div>
