



<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-color"color-on-scroll="500">
    <div class="container">
      <img src="assets/img/herbalicon.png" height="30px" width="30px"  />
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
               
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
  
  
              <li class="nav-item">
                <a class="nav-link"   routerLink="/index" >
                    <i class="now-ui-icons business_bank"></i>
                    <p>Home</p>
                </a>
            </li>
  
  
                
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin" >
                  <i class="now-ui-icons text_align-left"></i>
                  <p>Articles</p>
              </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/docaccept" >
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>Doctors Confirmation</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/doclist" >
                <i class="now-ui-icons users_single-02"></i>
                <p>Doctors List</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="notification" >
                <i class="now-ui-icons ui-2_time-alarm"></i>
                <p>Notification</p>
            </a>
        </li>
              
        
  
            <li class="nav-item">
              <a class="nav-link" href="/docAppoinment">
                  <i class="now-ui-icons ui-1_calendar-60"></i>
                  <p>Appoinments</p>
              </a>
          </li>
                         
         
  
         
          <li class="nav-item">
              <a class="nav-link" href="/index" >
                  <i class="now-ui-icons media-1_button-power"></i>
                  <p>Log Out</p>
              </a>
          </li>
  
             
            </ul>
        </div>
    </div>
  </nav>
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://www.hotelbarbora.sk/sites/hotelbarbora.sk/files/massage-wallpapers.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/default-avatar.png" alt="">
                </div>
                <h3 class="title">Admin Panel</h3>
       
                <div class="button-container">
                        
                       <!-- <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                          <i class="fab fa-instagram"></i>
                        </a>-->
                    </div>
            </div>
        </div>
    </div>
    <div class="section" >
      <div class="container">
      
        <h3 class="title" aria-placeholder="center">Welcome to admin page</h3>

       
        <div class="row">
          <div class="col">
          <div id ="sidebar" style=" width:300px;height:400px;">
  
  
                  <ul>
                  <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                  color:white;"> <a routerLink="/admin">Articles</a></li>
                  <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                  color:white;"><a routerLink="/admin/doclist">Doctors Confirmation </a></li>
                  <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                  color:white;"><a routerLink="/admin/docaccept">Doctors</a></li>
                  <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                  color:white;"><a routerLink="/admin/doclist">Notifications</a></li>
                  </ul>
                  
                  </div>
                  </div>
                  <div class="col">
  
                      <div class="row justify-content-center">
                          <div class="col-12">
                            <ngb-carousel>
                                    
                                        <ng-template ngbSlide>
                                          <img class="d-block" src="assets/img/meditrad.jpeg" alt="Third slide">
                                          <div class="carousel-caption d-none d-md-block">
                                              <h5>Ayurveda in SriLanka</h5>
                                          </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img class="d-block" src="assets/img/Traditional_medicine.jpeg" alt="Fourth slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>Ayurveda in SriLanka</h5>
                                            </div>
                                          </ng-template>
                                          <ng-template ngbSlide>
                                              <img class="d-block" src="assets/img/ayurveda_medicines_2.jpg" alt="Fifth slide">
                                              <div class="carousel-caption d-none d-md-block">
                                                  <h5>Ayurveda in SriLanka</h5>
                                              </div>
                                            </ng-template>
    
                                            <ng-template ngbSlide>
                                                    <img class="d-block" src="assets/img/header.jpg" alt="Fifth slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Ayurveda in SriLanka</h5>
                                                    </div>
                                                  </ng-template>
                                                  
                            </ngb-carousel>
                          </div>
                      </div>    
                  </div>        
              </div>
     
  
  
            <div id="data" style="height:700px;
            
            background-size: cover; 
            background-position: top center; 
            min-height: 700px;
            color:white;
            font-family:Helvetica;
            font-size:25px;
            ">
              
               <div class="list-group users-list">
                  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="row">
                         <div class="col col-md-2 image-col">
                              <img class="image" src="https://image.freepik.com/free-vector/businessman-character-avatar-icon-vector-illustration-design_24877-18271.jpg">
                          </div>
                          <div class="col col-md-8 text-col">
                            
                            
                                
                              <h5 class="mb-1">{{item.payload.doc.data().firstName}} {{item.payload.doc.data().lastName}}</h5>
                              <small>City: {{item.payload.doc.data().city}}</small>
                          </div>
                          <!--<div class="col col-md-2 actions-col">-->
                            <button class="btn btn-primary" (click)="open(classic,'' , '')">
                                View profile
                               </button>
                               <ng-template #classic let-c="close" let-d="dismiss">
                                   <div class="modal-header justify-content-center">
                                       <button type="button" class="close" (click)="d('Cross click')">
                                           <i class="now-ui-icons ui-1_simple-remove"></i>
                                       </button>
                                       <h4 class="title title-up">Dr.{{item.payload.doc.data().firstName}} {{item.payload.doc.data().lastName}}</h4>
                                   </div>
                                   <div class="modal-body">
                                      
                                     <p><b>Position : </b>{{item.payload.doc.data().position}} </p>
                                     <p><b>City : </b>{{item.payload.doc.data().city}} </p>
                                     <p><b>Experienced Years : </b>{{item.payload.doc.data().years}} </p>
                                     <p><b>Email : </b>{{item.payload.doc.data().email}}</p>
                                     <p><b>Certification : <a href="https://firebasestorage.googleapis.com/v0/b/jeevaka-arana.appspot.com/o/Certificates%2F1573625998831_Web_Authoring_HTML_notes.pdf?alt=media&token=6386b77d-82a8-4a27-a03a-29a46b5786db" download="Certification">click here to download</a></b></p>
                                     <p><b>Registration Number: </b>{{item.payload.doc.data().regnumber}}</p>
                                     <p><b>Specialist : </b>{{item.payload.doc.data().specialist}}</p>
                                     <p><b>Phone Number : </b>{{item.payload.doc.data().phone}}</p>
                   

                                    </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-danger"  (click)="accept(item.payload.doc.id)" >Reject</button>
                                       <button type="button" class="btn btn-default" (click)="c('Close click')">Accept</button>
                                   </div>
                               </ng-template>
                           <!--</div>-->
                      </div>
                  </div>
              </div>
  
            </div>
                    
        </div>
   
        <app-afooter></app-afooter>
    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
  </div>
  
  