<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
      </div>
      <div class="container">
          <div class="content-center">
              <div class="photo-container">
                  <img src="assets/img/default-avatar.png" alt="">
              </div>
              <h3 class="title">Admin name</h3>
              <p class="category">Ayurvedic Doctor</p>
              <div class="button-container">
                      <a href="/edit" class="btn btn-primary btn-round btn-lg">Edit profile</a>
                     <!-- <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                        <i class="fab fa-instagram"></i>
                      </a>-->
                  </div>
          </div>
      </div>
  </div>
  <div class="section" >
    <div class="container">
    
      <h3 class="title" aria-placeholder="center">Welcome to admin page</h3>
      <div class="row">
        <div class="col">
        <div id ="sidebar" style=" width:300px;height:400px;">


                <ul>
                <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                color:white;"> <a routerLink="/admin">Articles</a></li>
                <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                color:white;"><a routerLink="/admin/doclist">Doctors </a></li>
                <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                color:white;"><a routerLink="/admin/doclist">Reviews</a></li>
                <li style=" padding:20px;border-bottom:2px solid grey; background:#c0392b;
                color:white;"><a routerLink="/admin/doclist">Notifications</a></li>
                </ul>
                
                </div>
                </div>
                <div class="col">

                    <div class="row justify-content-center">
                        <div class="col-12">
                          <ngb-carousel>
                                  
                                      <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/meditrad.jpeg" alt="Third slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Ayurveda in SriLanka</h5>
                                        </div>
                                      </ng-template>
                                      <ng-template ngbSlide>
                                          <img class="d-block" src="assets/img/Traditional_medicine.jpeg" alt="Fourth slide">
                                          <div class="carousel-caption d-none d-md-block">
                                              <h5>Ayurveda in SriLanka</h5>
                                          </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img class="d-block" src="assets/img/ayurveda_medicines_2.jpg" alt="Fifth slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>Ayurveda in SriLanka</h5>
                                            </div>
                                          </ng-template>
  
                                          <ng-template ngbSlide>
                                                  <img class="d-block" src="assets/img/header.jpg" alt="Fifth slide">
                                                  <div class="carousel-caption d-none d-md-block">
                                                      <h5>Ayurveda in SriLanka</h5>
                                                  </div>
                                                </ng-template>
                                                
                          </ngb-carousel>
                        </div>
                    </div>    
                </div>        
            </div>
   


          <div id="data" style="height:700px;
          
          background-size: cover; 
          background-position: top center; 
          min-height: 700px;
          color:white;
          font-family:Helvetica;
          font-size:25px;
          ">
            
             <div class="list-group users-list">
                <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                       <div class="col col-md-2 image-col">
                            <img class="image" [src]="item.payload.doc.data().img1">
                        </div>-->
                        <div class="col col-md-8 text-col">
                            <h5 class="mb-1">{{item.payload.doc.data().Firstname}} {{item.payload.doc.data().Lastname}}</h5>
                            <small>Age: {{item.payload.doc.data().City}}</small>
                        </div>
                        <!--<div class="col col-md-2 actions-col">-->
                            <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button" ><a routerLink="/admin">view</a>
                               <!--<ion-icon class="icon" name="arrow-round-forward"></ion-icon>-->
                            </button>
                         <!--</div>-->
                    </div>
                </div>
            </div>

          </div>
                  
      </div>
 

  <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>

