.btn.btn-primary.btn-icon.btn-round{
  background-color: white;
  border-style:solid;
  border-color:#f96332;
  color: #9b7c72;

}

.btn.btn-primary.btn-icon.btn-round:focus{
  background-color: #f96332;
  color: white;
}

.btn.btn-primary.btn-icon.btn-round:disabled:hover{

  background-color: transparent;
      
  }


  //new
.c1{
  display: none;
}