<button class="btn btn-primary btn-icon btn-round" type="button">
  <input type="checkbox" id="M" class="c1" value="M"/>
  M
</button>
<button class="btn btn-primary btn-icon btn-round" type="button">
  <input type="checkbox" id="Tu" class="c1" value="Tu"/>
 T
</button>
<button class="btn btn-primary btn-icon btn-round" type="button">
  <input type="checkbox" id="W" class="c1" value="W"/>
 W
</button>
<button class="btn btn-primary btn-icon btn-round" type="button">
  <input type="checkbox" id="Th" class="c1" value="Th"/>
 T
</button>
<button class="btn btn-primary btn-icon btn-round" type="button">
  <input type="checkbox" id="F" class="c1" value="F"/>
 F
</button>
<button class="btn btn-primary btn-icon btn-round" type="button" >
  <input type="checkbox" id="Sa" class="c1" value="Sa"/>
 S
</button>
<button class="btn btn-primary btn-icon btn-round" type="button" >
  <input type="checkbox" id="Su" class="c1" value="Su"/>
 S
</button>
<!-- <label class="btn btn-primary">
  This is the label
  <input type="checkbox" name="jevattend" class="c1" value="1"  onclick="form.submit();"/>
</label> -->