
         
<div class="card" style="width: 78rem;margin-left: 10px">
              
                  <div class="formGroup" >
                    
                          <form  class="form-horizontal" role="form" style="margin-left: 55px;" >
               

                <div class="row">
                    <div class="col-lg-6 text-center ">
                     
                        <br><br>
                        <div>
                          <input class="form-control" [(ngModel)]="title" name="title" placeholder="   Your name">
                      </div>
                     
          <br>
                        <div >
                            <textarea class="form-control"  [(ngModel)]="content" name="content" placeholder="    Your message"></textarea>
                        </div>
                       
                    <br>
                        <div  class="form-group" >
                              <input type="submit" class="btnRegister   float-right" style="margin-left: 70rem;"  formControlName="submit" value="Post Comment" (click)="addPost()"/>         
                              </div>
                    </div>
                </div>



                </form>
            </div>
          </div>
        <!-- </div>
</div> 
 -->

<div class="card" style="width:78rem;margin-left: 10px;margin-top: 1px;"> 
<ul *ngFor="let post$ of post | async" id="opening">
  <div (click)="getPost(post.id)">
    
      <img src="../../../../assets/img/pa.jpg" style="height: 90px; width:90px">
     
      <strong>Commented on {{today | date}} </strong>  
      <br>
      <strong >{{ post$.title }} </strong>
  
    
    {{ post$.content }}
    <hr class="new4">
     
  </div>
  

</ul>
</div>

<!-- <h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>  -->