
              <div class="container2">

                <h3 style="margin-left: 20rem;font-weight: bold ;">Your Thougths Are Very Important</h3><br>
                  <div class="formGroup" style="margin-left: 16rem;" >
                    
                          <form  class="form-horizontal" role="form" style="margin-left:50px;" >
               

                <div class="row">
                    <div class="col-lg-6 text-center ">
                     
                        <br><br>
                        <div>
                          <input class="form-control" [(ngModel)]="title" name="title" placeholder="   Your name">
                      </div>
                     
          <br>
                        <div >
                            <textarea class="form-control"  [(ngModel)]="content" name="content" placeholder="Your message"></textarea>
                        </div>
                       
                    <br><br><br>
                        <div  class="form-group" >
                              <input type="submit" class="btnRegister   float-right" style="margin-left:78rem;"  formControlName="submit" value="Post Comment" (click)="addPost()"/>         
                              </div>
                    </div>
                </div>



                </form>
            </div>
          
  <br><br><br><br>

  
<ul *ngFor="let post$ of post | async" id="opening">
  <!-- <div *ngIf="post$.content"> -->
  
  <!-- <div (click)="getPost(post.id)"> -->
    <div class="card">
      <img src="https://www.pngkit.com/png/detail/115-1150342_user-avatar-icon-iconos-de-mujeres-a-color.png" style="height:8rem; width:8rem">
      <span style="margin-left: 5rem;font-size: 2rem;font-weight: bold;"> {{ post$.title }} </span><br>
      <strong>Commented on {{post$.Day}} -{{post$.Month}}- {{post$.Year}}    </strong> <br> 
      <span style="margin-left: 15rem;">{{ post$.content }}</span>
      <br>
      <br>
    </div>
    <!-- </div>   -->


  <!-- <h5>jhdhjfjfj</h5> -->
<!-- <div *ngIf="x==0">
  <span style="margin-left: 7rem;">No Comments Yet</span>

</div> -->
<!-- <h3>qqqqqq</h3> -->







</ul>










</div>