<app-pnav></app-pnav>
<div class="wrapper">
    <div class="page-header clear-filter"  filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Schedule an Appointment</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <ol class="progress-steps">
      <li class="active"><span class="number">&#10003;</span> Choose Doctor</li>
      <li><span class="number">02</span> Choose Date & Time</li>
      <li><span class="number">03</span> Verify Booking</li>
    </ol>
  </div>

  <div class="row">
        <div class="col p-3">
          <div class="byLetter">
            <input [(ngModel)]="letter" type="radio" (keydown)="filterArea('Firstname',City)" name="letter" value="A"> A
            <input [(ngModel)]="letter" type="radio" name="letter" value="B"> B
            <input [(ngModel)]="letter" type="radio" name="letter" value="C"> C
            <input [(ngModel)]="letter" type="radio" name="letter" value="D"> D
            <input [(ngModel)]="letter" type="radio" name="letter" value="E"> E
            <input [(ngModel)]="letter" type="radio" name="letter" value="F"> F
            <input [(ngModel)]="letter" type="radio" name="letter" value="G"> G
            <input [(ngModel)]="letter" type="radio" name="letter" value="H"> H
            <input [(ngModel)]="letter" type="radio" name="letter" value="I"> I
            <input [(ngModel)]="letter" type="radio" name="letter" value="J"> J
            <input [(ngModel)]="letter" type="radio" name="letter" value="K"> K
            <input [(ngModel)]="letter" type="radio" name="letter" value="L"> L
            <input [(ngModel)]="letter" type="radio" name="letter" value="M"> M
            <input [(ngModel)]="letter" type="radio" name="letter" value="N"> N
            <input [(ngModel)]="letter" type="radio" name="letter" value="O"> O
            <input [(ngModel)]="letter" type="radio" name="letter" value="P"> P
            <input [(ngModel)]="letter" type="radio" name="letter" value="Q"> Q
            <input [(ngModel)]="letter" type="radio" name="letter" value="R"> R
            <input [(ngModel)]="letter" type="radio" name="letter" value="S"> S
            <input [(ngModel)]="letter" type="radio" name="letter" value="T"> T
            <input [(ngModel)]="letter" type="radio" name="letter" value="U"> U
            <input [(ngModel)]="letter" type="radio" name="letter" value="V"> V
            <input [(ngModel)]="letter" type="radio" name="letter" value="W"> W
            <input [(ngModel)]="letter" type="radio" name="letter" value="X"> X
            <input [(ngModel)]="letter" type="radio" name="letter" value="Y"> Y
            <input [(ngModel)]="letter" type="radio" name="letter" value="Z"> Z
            <!-- <a id="A" href="">A</a>
            <a id="B" href="">B</a>
            <a id="C" href="">C</a>
            <a id="D" href="">D</a>
            <a id="E" href="">E</a>
            <a id="F" href="">F</a>
            <a id="G" href="">G</a>
            <a id="H" href="">H</a>
            <a id="I" href="">I</a>
            <a id="J" href="">J</a>
            <a id="K" href="">K</a>
            <a id="L" href="">L</a>
            <a id="M" href="">M</a>
            <a id="N" href="">N</a>
            <a id="O" href="">O</a>
            <a id="P" href="">P</a>
            <a id="Q" href="">Q</a>
            <a id="R" href="">R</a>
            <a id="S" href="">S</a>
            <a id="T" href="">T</a>
            <a id="U" href="">U</a>
            <a id="V" href="">V</a>
            <a id="W" href="">W</a>
            <a id="X" href="">X</a>
            <a id="Y" href="">Y</a>
            <a id="Z" href="">Z</a> -->
          </div>
<br>
          <div id="container">
            <table style="width:80%">
                <tr *ngFor="let result of results | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td><a [routerLink]="['/doctorview',result.Userid]">Dr. {{result.Firstname}} {{result.Lastname}} </a></td> 
                    <td><button routerLink="/appstep2" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button></td>
                </tr>
              </table>
                
                <!-- <ul class="list">
                   <ul *ngFor="let result of results">  
                    <li>
                            <a href="#">Dr. {{result.Firstname}} {{result.Lastname}} </a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li> -->
                    <!-- <li>
                            <a href="#">Name 2</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 3</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 4</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 5</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 6</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 7</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li> -->
                <!-- </ul>
                </ul>   -->
            </div> 

           </div>
        </div>
        
        
        <div class="col-md-10">
                          
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="results.length"></ngb-pagination>
                            
        </div>
           <div class="section section-basic">
                <div class="container">
                <div id="buttons">
                  <div class="row" class="text-center" >
                      <div class="col-md-10" >
                          <button routerLink="/appstep1" class="btn btn-primary btn-round" type="button">Back</button>
                      </div> 
                  </div>
                </div>
                </div>
              </div>        
  
    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
    <app-pfooter></app-pfooter>
</div>
