<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Schedule an Appointment</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <ol class="progress-steps">
      <li class="active"><span class="number">&#10003;</span> Choose Doctor</li>
      <li><span class="number">02</span> Choose Date & Time</li>
      <li><span class="number">03</span> Verify Booking</li>
    </ol>
  </div>

  <div class="row">
        <div class="col p-3">
          <div class="byLetter">
            <a id="A" href="">A</a>
            <a id="B" href="">B</a>
            <a id="C" href="">C</a>
            <a id="D" href="">D</a>
            <a id="E" href="">E</a>
            <a id="F" href="">F</a>
            <a id="G" href="">G</a>
            <a id="H" href="">H</a>
            <a id="I" href="">I</a>
            <a id="J" href="">J</a>
            <a id="K" href="">K</a>
            <a id="L" href="">L</a>
            <a id="M" href="">M</a>
            <a id="N" href="">N</a>
            <a id="O" href="">O</a>
            <a id="P" href="">P</a>
            <a id="Q" href="">Q</a>
            <a id="R" href="">R</a>
            <a id="S" href="">S</a>
            <a id="T" href="">T</a>
            <a id="U" href="">U</a>
            <a id="V" href="">V</a>
            <a id="W" href="">W</a>
            <a id="X" href="">X</a>
            <a id="Y" href="">Y</a>
            <a id="Z" href="">Z</a>
          </div> 
<br>
          <div id="container">
             
                
                <ul class="list">
                   <ul *ngFor="let result of results">  
                    <li>
                            <a href="#">Dr. {{result.Firstname}} {{result.Lastname}} </a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <!-- <li>
                            <a href="#">Name 2</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 3</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 4</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 5</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 6</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li>
                    <li>
                            <a href="#">Name 7</a> 
                            <button routerLink="#" class="btn btn-primary btn-round " type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Now</button>
                    </li> -->
                </ul>
                </ul>  
            </div> 

           </div>
        </div>

        
        <div class="col-md-10">
                          
             <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
                            
        </div>
                   
  
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
