<app-pnav passid={{my_id}}></app-pnav>
<div class="wrapper">
    <!-- <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Schedule an Appointment</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    

    <div class="container">
        <ol class="progress-steps">
            <li class="active"><span class="number">&#10003;</span> Choose Doctor</li>
            <li><span class="number">02</span> Choose Date & Time</li>
            <li><span class="number">03</span> Verify Booking</li>
        </ol>
    </div>


    <div class="container">
        <div class="form-check form-check-radio row">
            <div class="byFLetter">
                Firstname: <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="selectAll()" [formControl]="letter"
                        value="ALL" [checked]="true">
                    <span class="form-check-sign"></span>ALL
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="A">
                    <span class="form-check-sign"></span>A
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="B">
                    <span class="form-check-sign"></span>B
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="C">
                    <span class="form-check-sign"></span>C
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="D">
                    <span class="form-check-sign"></span>D
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="E">
                    <span class="form-check-sign"></span>E
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="F">
                    <span class="form-check-sign"></span>F
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="G">
                    <span class="form-check-sign"></span>G
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="H">
                    <span class="form-check-sign"></span>H
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="I">
                    <span class="form-check-sign"></span>I
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="J">
                    <span class="form-check-sign"></span>J
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="K">
                    <span class="form-check-sign"></span>K
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="L">
                    <span class="form-check-sign"></span>L
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="M">
                    <span class="form-check-sign"></span>M
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="N">
                    <span class="form-check-sign"></span>N
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="O">
                    <span class="form-check-sign"></span>O
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="P">
                    <span class="form-check-sign"></span>P
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="Q">
                    <span class="form-check-sign"></span>Q
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="R">
                    <span class="form-check-sign"></span>R
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="S">
                    <span class="form-check-sign"></span>S
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="T">
                    <span class="form-check-sign"></span>T
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="U">
                    <span class="form-check-sign"></span>U
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="V">
                    <span class="form-check-sign"></span>V
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="W">
                    <span class="form-check-sign"></span>W
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="X">
                    <span class="form-check-sign"></span>X
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="Y">
                    <span class="form-check-sign"></span>Y
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="fname('Firstname',letter)"
                        [formControl]="letter" value="Z">
                    <span class="form-check-sign"></span>Z
                </label>
                <!-- <input type="radio" (change)="fname('Firstname',letter)" [formControl]="letter" value="A"> A -->
                <!-- <a id="A" href="">A</a> -->
            </div>
        </div>
<!-- <hr>
        <div class="form-check form-check-radio row">
            <div class="byLLetter">
                Lastname: <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="selectAll()" [formControl]="letter"
                        value="ALL" [checked]="true">
                    <span class="form-check-sign"></span>ALL
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="A">
                    <span class="form-check-sign"></span>A
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="B">
                    <span class="form-check-sign"></span>B
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="C">
                    <span class="form-check-sign"></span>C
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="D">
                    <span class="form-check-sign"></span>D
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="E">
                    <span class="form-check-sign"></span>E
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="F">
                    <span class="form-check-sign"></span>F
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="G">
                    <span class="form-check-sign"></span>G
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="H">
                    <span class="form-check-sign"></span>H
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="I">
                    <span class="form-check-sign"></span>I
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="J">
                    <span class="form-check-sign"></span>J
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="K">
                    <span class="form-check-sign"></span>K
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="L">
                    <span class="form-check-sign"></span>L
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="M">
                    <span class="form-check-sign"></span>M
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="N">
                    <span class="form-check-sign"></span>N
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="O">
                    <span class="form-check-sign"></span>O
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="P">
                    <span class="form-check-sign"></span>P
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="Q">
                    <span class="form-check-sign"></span>Q
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="R">
                    <span class="form-check-sign"></span>R
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="S">
                    <span class="form-check-sign"></span>S
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="T">
                    <span class="form-check-sign"></span>T
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="U">
                    <span class="form-check-sign"></span>U
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="V">
                    <span class="form-check-sign"></span>V
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="W">
                    <span class="form-check-sign"></span>W
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="X">
                    <span class="form-check-sign"></span>X
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="Y">
                    <span class="form-check-sign"></span>Y
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" (change)="lname('Lastname',letter)"
                        [formControl]="letter" value="Z">
                    <span class="form-check-sign"></span>Z
                </label>
            </div>
        </div> -->





        <div class="section section-tabs">
            <div class="container1">
                <div class="row">
                    <div class="col-md-20 col-xl-10">
<!-- <div *ngIf="letter=='ALL'"> -->
                        <ul
                            *ngFor="let result of filteredNames  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <div class="card">
                             <div class="row">
                                    <div class="img-btn">
                                        <img src="{{result.downloadURL}}" alt="Profile Image" class="img-fluid img-raised">
                                      </div>
                                    <div class="column">
                                        <h4 [routerLink]="['/doctorview',result.Userid]">Dr. {{result.Firstname}}
                                            {{result.Lastname}}</h4>
                                        <button [routerLink]="['/doctorview',result.Userid]"
                                            class="btn btn-primary btn-round ico" type="button"><i
                                                class="now-ui-icons users_single-02"></i> View Profile</button>
                                        <button [routerLink]="['/appstep2',my_id,result.Userid]" class="btn btn-primary btn-round ico"
                                            type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    <!-- </div> -->
                    <!-- <div  *ngIf="letter!='ALL'">
                    <ul
                    *ngFor="let result of farray  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <div class="card">
                     <div class="row">
                            <div class="img-btn">
                                <img src="assets/img/logo.png" alt="Thumbnail Image"
                                    class="img-fluid img-raised">
                            </div>
                            <div class="column">
                                <h4 [routerLink]="['/doctorview',result.Userid]">Dr. {{result.Firstname}}
                                    {{result.Lastname}}</h4>
                                <button [routerLink]="['/doctorview',result.Userid]"
                                    class="btn btn-primary btn-round ico" type="button"><i
                                        class="now-ui-icons users_single-02"></i> View Profile</button>
                                <button routerLink="/appstep2" class="btn btn-primary btn-round ico"
                                    type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-10">

        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="results.length"
            class="pagination-primary"></ngb-pagination>

    </div>

    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
    <app-pfooter></app-pfooter>
</div>