
  <app-docpnav></app-docpnav>
  
  <div class="page-header clear-filter" filter-color="orange">
  
    <div class="page-header-image rellax-header" data-rellax-speed="-8"style="background-image: url('https://www.setwalls.ru/pic/201504/1920x1080/setwalls.ru-76640.jpg');">  
  
      </div>
      
  
      <div class="container">
  
          <div class="content-center brand">
              <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27% >
              <br>
              <br>
              <h1 class="h1-seo">Welcome to Jeewaka Arana</h1>
              <h3>A greatest Ayurvedic platform</h3>
          </div>
  
      </div>
    </div>
    
    
  
  
  
          
  
          <div class="section section-about-us">
              <!-- <div class="container"> -->
              
                    <div class="row">
                            <div class="col col-md-6">
                                <div  data-aos="zoom-in-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" class="col-md-6">
                                    <div class="card" >
  
        
                                            <div class="row ">
                                               
                                              <div class="column1">
                                                  <!-- <ul *ngFor="let post of posts | async"> -->
                                               <img  src="{{post$.downloadURL}}" width="250" height="250" />
                                               
                   
                                              <!-- </ul> -->
                                              </div>
                                                
                                              <div class="vl" style="margin-left:2rem;"></div>
                                              <div class="column" style="margin-left: 2rem;">
                      
                                                 
                                                      <label class="col-lg-15 control-label" ><b><span> Name -   </span>  Dr. {{post$.Firstname}}   {{post$.Lastname}}</b></label><br><br>
                                                      <label class="col-lg-15 control-label"><b><span>Specialist -  </span> {{post$.Specialist}}</b></label><br><br>
                                                      <label class="col-lg-15 control-label"><b><span>Status -  </span>  {{post$.Position}}</b></label><br><br>
                                                      <label class="col-lg-15 control-label"><b><span>Address -  </span> {{ post$.Address}}</b></label><br><br>
                                                      <label class="col-lg-15 control-label"><b> <span>Telephone Number -  </span> {{post$.Phone}}</b></label><br><br>
                                                      <label class="col-lg-15 control-label"><b> <span>Email Address -  </span> {{post$.Email}}</b></label><br><br>
                                                   
                                                
                      
                                              </div>
                                            </div>
                      
                        
                      </div>
                      </div>
  </div>
  <div class="col col-md-4">
  
    
      <div  data-aos="zoom-in-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" class="col-md-6">
                
                    <div class="card" style="width:30rem;margin-left:7rem;">
                   <h4>Today Special Note</h4>
                       
                       <p>{{post$.note}}</p>
                   
  
                      </div>
                      </div>
  
  </div>
  </div>
  
  
  
  
  
  
  <div data-aos="zoom-out-down">
        
              
              
                
                <table  class="table table-bordered table-hover" id="time" style="width: 78.8rem;">
                  
                   
                    <thead>
                      <tr>
                          <th>DATE</th>
                        <th>TIME SLOT 1</th>
                        <th>TIME SLOT 2</th>
                        <th>TIME SLOT 3</th>
                        
                      </tr>
                    </thead>
  
  
                    <tbody>  
                        
                      <tr>
                          
                            <td >MONDAY</td>
                            
                            <td>{{post$.mt1}}</td>
                            <td> </td>
                            <td></td>
  
                     
                      </tr>
                     
                      <tr>
                            <td>TUESDAY</td>
                        
                            <td>{{post$.mt1}}</td>
                            <td> </td>
                            <td></td>
                       
            
                          </tr>
            
                          <tr>
                              <td>WEDNESDAY</td>
                          
                              <td>{{post$.mt1}}</td>
                              <td> </td>
                              <td></td>
                         
              
                            </tr>
                            <tr>
                                <td>THURSDAY</td>
                            
                                <td>{{post$.mt1}}</td>
                                <td> </td>
                                <td></td>
                           
                
                              </tr>
                
                              <tr>
                                  <td>FRIDAY</td>
                              
                                  <td>{{post$.mt1}}</td>
                                  <td> </td>
                                  <td></td>
                             
                  
                                </tr>
                                <tr>
                                    <td>SATURDAY</td>
                                
                                    <td>{{post$.mt1}}</td>
                                    <td> </td>
                                    <td></td>
                               
                    
                                  </tr>
                                  <tr>
                                      <td>SUNDAY</td>
                                  
                                      <td>{{post$.mt1}}</td>
                                      <td> </td>
                                      <td></td>
                                 
                      
                                    </tr>
                      
                    
  
                    </tbody>
  
                  
                    </table>
                  
  </div>
  
  
  
  
              
  
  <hr style=" border: 1.5px solid #ff1a1a"><br><br>
  <h3 style="margin-left: 20rem;">Your Thougths Are Very Important</h3><br>
  <app-comment></app-comment> 
  
  
  
  <br><br>
  <app-dfooter></app-dfooter>
  
  
  
  
        
      
      
