table{

	margin-left: 875px;
}
::-webkit-input-placeholder {
	font-weight: 1000; 
	font-size: 18px;
}

span{
	color:#ff0000;
	font-size: 20px;
	font-weight: bold;
}

.body{
	background-color: #ffb366;
}








