<table>
  <tr>
      <td style="vertical-align:top">
           <fieldset>
               
<img  src="../../../assets/img/avatar.jpg" width="250" height="250" />
  
           </fieldset>   
      </td>   
      <td style="vertical-align:top; border: 5px;">
           <fieldset>
               Name: <input type="text"><br><br>
  Specialist: <input type="text"><br><br>
  Address: <input type="text"><br><br>
  Telephone No: <input type="text"><br><br>
  Available Dates:<input type="text" ><br><br>
  Available Time:<input type="text">
 </fieldset> 
      </td>   
  </tr>
</table>

