<nav class="navbar navbar-expand-lg bg-danger fixed-top navbar-color "color-on-scroll="500">
  <div class="container">
    <img src="assets/img/herbalicon.png" height="30px" width="30px"  />
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
             
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"   routerLink="/index" >
                  <i class="now-ui-icons business_bank"></i>
                  <p>Home</p>
              </a>
          </li>


              
          <li class="nav-item">
            <a class="nav-link" routerLink="/index" >
                <i class="now-ui-icons business_globe"></i>
                <p>Change Language</p>
            </a>
        </li>

        

            
      

          <li class="nav-item">
            <a class="nav-link" href="/docAppoinment">
                <i class="now-ui-icons ui-1_calendar-60"></i>
                <p>Appoinments</p>
            </a>
        </li>
                       
        <li class="nav-item">
            <a class="nav-link" href="/complain" >
                <i class="now-ui-icons text_align-center"></i>
                <p>Complains</p>
            </a>
        </li>
        <li class="nav-item dropdown">
         
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
              <i class="now-ui-icons ui-1_zoom-bold"></i>
              <p>Search</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  " href="/doctorname" >Search By Name</a>
            <a class="dropdown-item" href="/diseasename">Search By Diseases</a>
            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons users_single-02

              "></i>
            <p>Profile</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " [routerLink]="['/fpage',my_id]" > View Profile </a>
            <a class="dropdown-item " [routerLink]="['/doctoradmin',my_id]"> Edit Profile</a>
            <a class="dropdown-item " [routerLink]="['/report',my_id]" > View Report </a>
            
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/index" >
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
          </a>
      </li>
           
          </ul>
      </div>
  </div>
</nav>




<div class="page-header clear-filter" filter-color="orange">

  <div class="page-header-image rellax-header" data-rellax-speed="-8"style="background-image: url('https://www.setwalls.ru/pic/201504/1920x1080/setwalls.ru-76640.jpg');">  

    </div>
    

    <div class="container">

        <div class="content-center brand">
            <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27% >
            <br>
            <br>
            <h1 class="h1-seo">Welcome to Jeewaka Arana</h1>
            <h3>A greatest Ayurvedic platform</h3>
        </div>

    </div>
  </div>
  
  



        

        <div class="section section-about-us">
            <!-- <div class="container"> -->
            
                  <div class="row">
                          <div class="col col-md-6">
                              <div  data-aos="zoom-in-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" class="col-md-6">
                                  <div class="card" >

      
                                          <div class="row ">
                                             
                                            <div class="column1">
                                                <!-- <ul *ngFor="let post of posts | async"> -->
                                             <img  src="{{post$.downloadURL}}" width="250" height="250" />
                                             
                 
                                            <!-- </ul> -->
                                            </div>
                                              
                                            <div class="vl" style="margin-left:2rem;"></div>
                                            <div class="column" style="margin-left: 2rem;">
                    
                                               
                                                    <label class="col-lg-15 control-label" ><b><span> Name -   </span>  Dr. {{post$.Firstname}}   {{post$.Lastname}}</b></label><br><br>
                                                    <label class="col-lg-15 control-label"><b><span>Specialist -  </span> {{post$.Specialist}}</b></label><br><br>
                                                    <label class="col-lg-15 control-label"><b><span>Status -  </span>  {{post$.Position}}</b></label><br><br>
                                                    <label class="col-lg-15 control-label"><b><span>Address -  </span> {{ post$.City}}</b></label><br><br>
                                                    <label class="col-lg-15 control-label"><b> <span>Telephone Number -  </span> {{post$.PhoneNumber}}</b></label><br><br>
                                                    <label class="col-lg-15 control-label"><b> <span>Email Address -  </span> {{post$.Email}}</b></label><br><br>
                                                 
                                              
                    
                                            </div>
                                          </div>
                    
                      
                    </div>
                    </div>
</div>
<div class="col col-md-4">

  
    <div  data-aos="zoom-in-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" class="col-md-6">
              
                  <div class="card" style="width:30rem;margin-left:7rem;">
                 <h4>Today Special Note</h4>
                     
                     <p>{{post$.note}}</p>
                 

                    </div>
                    </div>

</div>

            



<!-- <div  class="mytimetb">
  <div *ngFor="let n of ap|async">
{{n.ap_id}}

  </div>
</div> -->

</div>

<div data-aos="zoom-out-down">
    <div class="avail">
      Available hours:<br>
      Monday: 8 - 12<br>
      Wednesday: 9 - 12<br>
      Friday: 9 - 12<br>
      Sunday: 8 - 5<br>
    </div>
    

           
<!--             
  <div *ngFor="let n of ap|async">
    {{n.ap_id}}
    
      </div>    -->
                
</div>






<br><br><br><br>

            
<!-- 
<hr style=" border: 1.5px solid #ff1a1a"><br><br>
<h3 style="margin-left: 20rem;">Your Thougths Are Very Important</h3><br>
<app-comment id="{{my_id}}"></app-comment>  -->


<app-delete-comment id="{{my_id}}"></app-delete-comment>
<br><br>
<app-dfooter></app-dfooter>




      
    
    