<!-- Footer -->
<footer style="background-color: #E8E0D4 ;" class="page-footer font-small stylish-color-dark pt-4">
    <!-- #FFFCCF #cfcfc5 #E5D0C2 #E8E0D4  -->
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  

      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto text-center">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Jeewaka Arana</h5>
          <p>Jeewaka Arana is a platform committed to delivering exceptional
             services of traditional medicine in Sri Lanka across a range of specialties.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">

  
      </div>
      <!-- Grid row -->
  
    </div>
   
    <hr>
  
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> JeewakaArana.lk</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->