<!-- <div>
  <input type="text" [(ngModel)]="query">
  <button type="button" (click)="getAddress()">Search</button>
</div>
<div>
  <input type="text" [(ngModel)]="position">
  <button type="button" (click)="getAddressFromLatLng()">Search</button>
</div>
<hr>
<table style="width: 100%">
  <thead>
      <tr style="text-align: left">
          <th>Label</th>
          <th>Latitude</th>
          <th>Longitude</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let location of locations">
          <td>{{ location.Location.Address.Label }}</td>
          <td>{{ location.Location.DisplayPosition.Latitude }}</td>
          <td>{{ location.Location.DisplayPosition.Longitude }}</td>
      </tr>
  </tbody>
</table>


 -->


 <!-- <fm-pivot 
  [licenseKey]="Z78I-XA6346-0J0T0R-6E2D1E"
  [report]="'https://cdn.flexmonster.com/reports/report.json'">
</fm-pivot> -->
<div #map [style.width]="width" [style.height]="height"></div>
