<app-pnav passid={{my_id}}></app-pnav>
<div class="wrapper">


    <div class="page-header clear-filter" filter-color="orange">

        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/Herbal-Medicine-1.jpg');">
        </div>






        <div class="container">

            <div data-aos="zoom-in" data-aos-delay="50" ata-aos-duration="1000" data-aos-easing="ease-in-out"
                class="content-center">
                <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27%>
                <br>
                <br>
                <h1 class="title">Your home for health.</h1>
                <h3 class="title">All your practitioners in one place</h3>
                <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div> -->
            </div>
        </div>
    </div>


    
    <div class="section section-about-us">
        <div class="container">

            <div class="row">

                <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
                    class="col-md-8 ml-auto mr-auto text-center">

                    <!-- {{my_id}} -->
                    <h2 class="title">Why choose Jeewaka Arana?</h2>
                    <h5 class="description">Jeewaka Arana is Sri Lanka's online ayurvedic website, transforming the way
                        Sri Lankans access
                        and use healthcare services. We are driven to advance the accessibility of healthcare for all
                        Sri Lankans by improving
                        access to information and technology, and ultimately improving the experience of healthcare
                        services. Jeewaka Arana makes
                        finding and booking health appointments online quick and easy. Free for patients, our website
                        allows you to navigate
                        Sri Lanka's ayurvedic treatment system while providing practitioners with technology to improve
                        the patient healthcare journey.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/Traditional_medicine.jpeg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Your body is precious. It is our vehicle for
                                awakening. Treat it with care."
                                <br>
                                <br>
                                <small>-Buddha</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <!-- <div class="image-container" style="background-image: url('assets/img/therapies-page-pic-crop.jpg')"></div> -->
                    </div>
                    <div class="col-md-6">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/pic2.jpg')">
                        </div>
                        <div data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000"
                            data-aos-easing="ease-in-out">
                            <h2>Leading Healthcare Providers. Trust us for Business</h2>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"
                            data-aos-easing="ease-in-out" class="my-header">
                            <i class="now-ui-icons ui-1_check"></i>
                            <h5 class="inline"> Instant appointment with doctors. Guaranteed.</h5>
                        </div>
                        <br>
                        <div data-aos="fade-up" data-aos-delay="52" data-aos-duration="1000"
                            data-aos-easing="ease-in-out" class="my-header">
                            <i class="now-ui-icons ui-1_check"></i>
                            <h5 class="inline"> Safety of your data is our top priority.</h5>
                        </div>
                        <br>
                        <div data-aos="fade-up" data-aos-delay="54" data-aos-duration="1000"
                            data-aos-easing="ease-in-out" class="my-header">
                            <i class="now-ui-icons ui-1_check"></i>
                            <h5 class="inline"> All your medical records in one secure app.</h5>
                        </div>
                        <br>
                        <div data-aos="fade-up" data-aos-delay="56" data-aos-duration="1000"
                            data-aos-easing="ease-in-out" class="my-header">
                            <i class="now-ui-icons ui-1_check"></i>
                            <h5 class="inline"> Read health tips.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-team text-center">
        <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
            class="container">
            <h2 class="title">Our Service</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/images.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Search for Doctors</h4>
                            <a class="category text-primary" [routerLink]="['/searchdoctor',my_id]">Click Here</a>
                            <!-- <p class="category text-primary">Model</p> -->
                            <p class="description">We list for free and ensure each doctor profile is verified for
                                medical license, qualification and specialisation.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/appo.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Make an Appointment</h4>
                            <a class="category text-primary" [routerLink]="['/appstep1',my_id]">Click Here</a>
                            <!-- <p class="category text-primary">Fashion</p> -->
                            <p class="description">We help millions of patients and thousands of doctors with a simpler,
                                easier healthcare experience.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ava.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Appointment List</h4>
                            <a class="category text-primary" [routerLink]="['/applist',my_id]">Click Here</a>
                            <!-- <p class="category text-primary">Designer</p> -->
                            <p class="description">We help our patients to maintain the details of the present and past
                                appointments
                                making it effective.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-delay="54" data-aos-duration="1000" data-aos-easing="ease-in-out"
        class="section-story-overview">
        <h2 class="title text-center">Recent Articles</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center col-md-8 ml-auto mr-auto">
                    <ul *ngFor="let result of results  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <ul class="articles">
                            <li>
                                <article>
                                    <div class="article-media"></div>
                                    <div class="l-pad-content">
                                        <h4>{{result.title}}</h4>
                                        <!-- <p>{{result.description}}...  -->
                                        <a class="more" href="/art2">read more</a>
                                        <!-- </p> -->
                                    </div>
                                </article>
                            </li>
                        </ul>
                        <!-- END articles -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">

            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="results.length" class="pagination-primary">
            </ngb-pagination>
        
          </div>
    </div>
    <!-- <div data-aos="fade-up" data-aos-delay="54" data-aos-duration="1000" data-aos-easing="ease-in-out"
        class="section-story-overview">
        <h2 class="title text-center">Issues</h2>
        <div class="container">
            <div class="row">
                <div class="column">
                    <ul *ngFor="let issue of issues">
                        <ul class="articles">
                            <li>
                                <article>
                                    <div class="article-media"></div>
                                    <div class="l-pad-content">
                                        <h4>{{issue.name}}</h4>
                                        <p>{{issue.Day}} / {{issue.Month}} / {{issue.Year}}</p>
                                        <p>{{issue.Hour}} : {{issue.Minute}} : {{issue.Second}}</p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <div data-aos="fade-up" data-aos-delay="58" data-aos-duration="1000" data-aos-easing="ease-in-out"
        class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Report a problem</h2>
            <p class="description">Let us know of the inconvenience</p>
            <div class="row">
                <div [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="addIssue()"
                    class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" [(ngModel)]="name" type="name" formControlName="name" required
                            class="form-control" placeholder="Your Name" (focus)="focus=true" (blur)="focus=false">
                        <div *ngIf="formErrors.name">
                            {{ formErrors.name }}
                        </div>
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" [(ngModel)]="email" type="email" formControlName="email" required
                            class="form-control" placeholder="Your email address" (focus)="focus1=true"
                            (blur)="focus1=false">
                        <div *ngIf="formErrors.email">
                            {{ formErrors.email }}
                        </div>
                    </div>
                    <div class="textarea-container">
                        <textarea [(ngModel)]="issue" type="issue" formControlName="issue" required class="form-control"
                            name="name" rows="4" cols="80" placeholder="Describe the problem..."></textarea>
                        <div *ngIf="formErrors.issue">
                            {{ formErrors.issue }}
                        </div>
                    </div>
                    <div class="send-button">
                        <input type="submit" [disabled]="!userForm.valid"
                            class="btn btn-primary btn-round btn-block btn-lg" value="Send Message"
                            (click)="addIssue()">
                        <span *ngIf="userForm.valid">Form is valid</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-pfooter></app-pfooter>
    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
</div>