<!-- 
Rich & Simple Text Editor. 
Shortcuts : Bold(Ctrl+B) , Italics : (Ctrl + I) , Underline (Ctrl + U ).


    <div class="tooltip">
      <button class="bold" title="Bold"><i class="fa fa-bold"></i></button>
      <button class="italics" title="Italic"><i class="fa fa-italic"></i></button>
      <button class="underline" title="Underline"><i class="fa fa-underline"></i></button>
       <button class="link" title="link"><a href='#' data-command='createlink'><i class="fa fa-link"></i></a>
          <button><input type="text" class="color" ></button>
      <button class="size">
        <select class="size1" title="Size">
           <option value="8">8</option>
           <option value="12">12</option>
           <option value="16">16</option>
           <option value="20" selected>20</option>
           <option value="24">24</option>
           <option value="28">28</option>
           <option value="32">32</option>
           <option value="36">36</option>
           <option value="42">42</option>
     </select></button>
    
  <div class="texteditor" contenteditable="True">
  </div>
  <br><br>
   -->


