body {
    background : #f2f2f2;
      font-family: sans-serif;
      font-size: 20px;
    }
    
    .texteditor {
      width: 650px;
      height: 250px;
      position: relative;
      margin: 0px auto;
      outline:none;
      padding : 15px;
      background-color: white;
      border-radius: 5px;
      padding: 15px;
       box-shadow : 0px 10px 20px 0px rgba(0,0,0,0.8);
      overflow : hidden;
    
    }
    
    .tooltip {
      margin: 25px 135px;
    }
    
    button {
      border-radius: 2px;
      background-color: white;
      border: none;
      border-radius: 6px;
      color: #7e7e7e;
      font-size: 18px;
      padding: 7px;
       box-shadow : 0px 10px 20px 0px rgba(0,0,0,0.25);
    }
    
    button:hover {
      color: black;
      border: 1.5px solid grey;
    }
    
    .bold {
      width: 35px;
      height: 45px;
      cursor: pointer;
      outline:none;
    }
    
    .italics {
      width: 35px;
      height: 45px;
      cursor: pointer;
      outline:none;
    }
    
    .underline {
      width: 35px;
      height: 45px;
      cursor: pointer;
      outline:none;
    }
    .size{
      height : 46px;
     }
    .link {
      width: 36px;
      height: 45px;
      cursor: pointer;
      outline:none;
      color : grey;
      font-size:18px;
    }
    .color:hover {
      border-color: black;
      color: inherit;
    }
    select {
       height: 25px;
       width: 45px;
       font-size: 14px;
       font-weight: bold;
       color: grey;
       background: #fafafa;
       border: 1px solid #d3d3d3;
       border-radius: 3px;
       outline: none;
       cursor: pointer;
    }
    select:hover{
      color:black;
    }
    a{
      cursor:pointer;
    }
    
    /* Follow me template*/
    
    .follow-me{
      font-family : 'Source Sans Pro', sans-serif;
      font-size:12.3px;
      color : grey;
     }
    .follow-me i{
    color: #F51060;
    }
    .follow-me a{
    color: grey;
      text-decoration:none;
    }
    .follow-me a:hover{
    color: grey;
      text-decoration:underline;
    }
    
    /*fork github ribbon */
    
    .fork{
      position: absolute; 
      top: 0; 
      right: 0; 
    }