
  
 <div class="card" style="width:45rem;margin-left: 5px;" >
    <div class="card-body" >
  
  <div class="form-group">
     
        <label>select profile picture to upload </label><br>
<div>
        <img [src]="img" width="250px" height="250px">
</div>
            
    <input  type="file" (change)="showpreview($event);onDrop($event.target.files)">
  
</div>

<div *ngFor="let file of files">
    <upload-task [file]="file"></upload-task>
  </div>
</div>
</div>


<!-- second one -->
<!-- <div class="card" style="width:45rem;margin-left: 5px;" >
  <div class="card-body" >

<div class="form-group">
      <label> picture to upload </label><br>
 
<div>
      <img [src]="img1" width="250px" height="250px">
</div>
          
  <input  type="file" (change)="showpreview1($event);onDrop1($event.target.files1)">
 

</div>

<div *ngFor="let file1 of files1">
  <app-up1 [file1]="file1"></app-up1>
</div>
  
</div>
</div>  -->
