<!-- Footer -->
<footer style="background-color: #E8E0D4 ;" class="page-footer font-small stylish-color-dark pt-4">
  <!-- #FFFCCF #cfcfc5 #E5D0C2 #E8E0D4  -->
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto text-center">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Jeewaka Arana</h5>
        <p>Jeewaka Arana is a platform committed to delivering exceptional
           services of traditional medicine in Sri Lanka across a range of specialties.</p>

      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mx-auto"> -->

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">For Patients</h5>

        <ul class="list-unstyled">
          <li>
             <a [routerLink]="['/searchdoctor',my_id]">Find a Doctor</a>
          </li>
          <li>
            <a [routerLink]="['/appstep1',my_id]">Book appointment</a>
          </li>
          <li>
            <a [routerLink]="['/applist',my_id]">List appointments</a>
          </li>
          <li>
            <a [routerLink]="['/applist',my_id]">Cancel appointment</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mx-auto"> -->

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">For Doctors</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/signup/sign-doctor">Doctor Profile</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mx-auto"> -->

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">More</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/paboutUs',my_id]">About Us</a>
          </li>
          <li>
            <a [routerLink]="['/pcontactUs',my_id]">Contact Us</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Help Center</a>
          </li>
          <li>
              <a href="#!">Terms & Conditions</a>
            </li>
        </ul>

      </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> JeewakaArana.lk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->