<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Herbal-Medicine-1.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">This is our great company.</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-navbars">
            <div class="container" id="menu-dropdown">
                <div class="row">
                    <div class="col-md-10">
                        <br>
                        <nav class="navbar navbar-expand-lg bg-primary">
                            <div class="container">
                                <ul class="navbar-nav">
                                        <li class="nav-item">
                                          <div ngbDropdown class="dropdown">
                                              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                                                <p>
                                                    Availability
                                                </p>
                                              </a>
                                              <div ngbDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Available Any Day</a>
                                                <a class="dropdown-item" href="#">Available Today</a>
                                                <a class="dropdown-item" href="#">Available in next 3 days</a>
                                                <a class="dropdown-item" href="#">Available coming weekend</a>
                                              </div>
                                          </div>
                                        </li>
                                        <li class="nav-item">
                                          <div ngbDropdown class="dropdown">
                                              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                                                <p>
                                                    All Filters
                                                </p>
                                              </a>
                                              <div ngbDropdownMenu class="dropdown-menu">
                                                    <div class="row" id="checkRadios">
                                                            <div class="col-sm-6 col-lg-3">
                                                                <h6 class="category">Gender</h6>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="checkbox">
                                                                        <span class="form-check-sign"></span>
                                                                        Male
                                                                    </label>
                                                                  </div>  
                                                                  <div class="form-check">
                                                                    <label class="form-check-label">
                                                                      <input class="form-check-input" type="checkbox">
                                                                      <span class="form-check-sign"></span>
                                                                      Female
                                                                  </label>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="inline" id="checkRadios">  
                                                          <div class="col-sm-6 col-lg-3">
                                                            <h6 class="category">Consultation Fee</h6>
                                                            <div class="form-check form-check-radio">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked>
                                                                    <span class="form-check-sign"></span>
                                                                    Radio is on
                                                                </label>
                                                            </div>
                                                        </div>
                                                      </div>
                                              </div>
                                          </div>
                                        </li>
                                        <li class="nav-item">
                                          <div ngbDropdown class="dropdown">
                                              <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                                                <p>
                                                    Sort By
                                                </p>
                                              </a>
                                              <div ngbDropdownMenu class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Relevance</a>
                                                <a class="dropdown-item" href="#">Price - Low to High</a>
                                                <a class="dropdown-item" href="#">Price - High to Low</a>
                                                <a class="dropdown-item" href="#">Years of Experience</a>
                                                <a class="dropdown-item" href="#">Recommendation</a>
                                              </div>
                                          </div>
                                        </li>
                                        <li class="nav-item">
                                          <div ngbDropdown class="dropdown">
                                              <a href="#" class="nav-link">
                                                <p>
                                                Show doctors near me
                                            </p>
                                                <i class="now-ui-icons location_compass-05"></i>
                                          </a>
                                          </div>
                                        </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-tabs">
        <div class="container">
            <!-- <div>
              <section class="kq342h-3 faOkMJ sc-1aicao1-2 eUHbSr shdhal-0 imnrgU" data-test="ab-wrapped-component" data-uem-id="header">
                <div>
                  <div class="sc-1aicao1-3 dcjDKV" data-test="header-content">
          <div class="sc-1aicao1-0 bcESxB" data-test="header-mobile-menu">
            <div class="sc-65oli7-0 dpJAVR">
              <span class="">
                <button class="sc-65oli7-1 jmQDMw" data-test="mobile-menu-trigger" title="Open the mobile navigation menu"></button>
                <div>
                  <svg class="sc-1bblrlf-0 jTMnaG sc-1piosrx-0 lhtxJE" viewBox="0 0 52 40" data-test="icon-hamburger">
                    <g><rect fill="currentColor" height="5.7" width="51.4" x="0.3"></rect><rect fill="currentColor" height="5.7" width="51.4" x="0.3" y="17.2"></rect><rect fill="currentColor" height="5.7" width="51.4" x="0.3" y="34.3"></rect></g>
                  </svg>
                </div>
              </span>
            </div>
                      </div>
                    <div class="sc-1aicao1-20 izssHK" data-test="styled-logo">
                      <div class="sc-1aicao1-6 eHpBgZ"><span class="">
                        <a class="sc-1aicao1-9 hEmenR sc-1m21atl-0 fTcjoU" data-test="animated-header-logo" href="/" title="Back to homepage" role="button" tabindex="0"></a>
                        <a href="/" class="sc-1aicao1-8 jGgJOg sc-1aicao1-7 dplJrq sc-1j42e4i-0 ctqnqM" data-test="static-header-logo" data-uem-id="static-header-logo" title="Back to homepage" role="button" tabindex="0"></a>
                        </span>
                      </div>            
                    </div>
                    <div class="sc-1aicao1-4 lmsXhN" data-test="cta-content">
                      <div class="sc-1aicao1-19 eGsTGs" data-test="signin-dropdown-container">
                        <div class="anw9to-0 iHLjRA">
                          <span class="">
                            <div class="anw9to-1 jyokvB" data-test="signin-dropdown-bar">
                              </div>                  
                          </span>                
                        </div>              
                      </div>            
                    </div>          
                  </div>        
                </div>      
              </section>
              <div class="sc-1aicao1-1 jILpcZ">      
              </div>    
            </div>
            <section class="weylkq-1 jfjZoh shdhal-0 imnrgU" id="tagline">
              <h1 class="weylkq-0 bcBhgx">
                <div class="weylkq-2 hdpejk">
                  <span>Making change in medicine</span>        
                </div>      
              </h1>
            </section> -->
            <ul *ngFor="let example of examples | async">
                <li>
                  <strong>{{example.firstname}} </strong>
                  
                  <strong>{{example.lastname}}</strong>
              </li>
              </ul>
            <section class="kq342h-1 ialZB shdhal-0 imnrgU">
              <div elementtiming="Search Bar" data-test="search-bar">
                <form class="kq342h-2 eDoDpB sc-1vvvv1f-0 heqDtE" action="#">
                  <span data-test="hide-branch-journey">          
                  </span>
                  <div class="sc-1vvvv1f-5 hRbbUK sc-1vvvv1f-2 bRHFLA">
                    <!-- <div class="sc-1vvvv1f-1 draogi">
                      <h4 class="sc-1vvvv1f-3 gzBYjw"><span>search</span></h4></div> -->
                      <div class="sc-1uxqps9-0 eKeIcW" data-dropdown-active="false" data-test="universal-search" data-uem-id="universal-search-desktop"><div style="position:absolute;z-index:1;top:14px;left:16px;display:inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                        <path fill="currentColor" fill-rule="evenodd" d="M7.486 2.493c-3.176 0-5.76 2.576-5.76 5.743 0 3.167 2.584 5.743 5.76 5.743 3.175 0 5.759-2.576 5.759-5.743 0-3.167-2.584-5.743-5.76-5.743m6.05 9.997l4.547 4.566-1.788 1.796-4.555-4.575a7.377 7.377 0 0 1-4.253 1.343c-4.083 0-7.404-3.313-7.404-7.384C.082 4.164 3.403.852 7.486.852s7.404 3.312 7.404 7.384a7.33 7.33 0 0 1-1.355 4.254z"></path></svg></div>
                        <div class="o0zgcl-0 kSOrwx">
                        <input type="text" [(ngModel)]="searchterm" (keydown)="search($event)" class="o0zgcl-2 jVmZea" autoComplete="off" data-test="universal-search-text-box" data-uem-id="universal-search-text-box" placeholder="doctor name" value=""/><span class="o0zgcl-1 eUJMGp" hidden=""><svg class="r7q52i-0 hWIzdS sc-1piosrx-0 dnBZNo" viewBox="0 0 40 40" data-test="icon-close">
                        <polygon fill="#00234B" points="40,4 36,0 20,16 4,0 0,4 16,20 0,36 4,40 20,24 36,40 40,36 24,20"></polygon></svg></span></div></div></div><div class="sc-1vvvv1f-6 gwtrmo sc-1vvvv1f-1-styled-div gKrvIv sc-1vvvv1f-2 bRHFLA"><h4 class="sc-1vvvv1f-3 gzBYjw"><span>location</span></h4><div class="sc-1vvvv1f-4 cZDLNC sc-5t511o-0 bNlNSy" data-test="search-bar-location" data-uem-id="location-dropdown">
                        <div class="sc-1lx8j02-0 iciIbr" data-test="location-icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20">
                        <path fill="currentColor" fill-rule="evenodd" d="M5.888 9.205c-1.87 0-3.387-1.501-3.387-3.353 0-1.851 1.516-3.352 3.387-3.352 1.87 0 3.386 1.501 3.386 3.352 0 1.852-1.516 3.353-3.386 3.353M5.986 0C2.68 0 0 2.653 0 5.926 0 7.682.799 9.35 1.17 10.17L5.488 20h.998l4.316-9.829c.372-.821 1.171-2.427 1.171-4.183C11.972 2.715 9.292 0 5.986 0"></path></svg></div>
                        <div class="sc-1pdizu3-3 hyeVaK" data-dropdown-active="false" data-test="takeover-input"><div class="sc-1pdizu3-4 eESKkM"><div class="sc-1pdizu3-5 ccnonn"><div class="sc-1lx8j02-0 iciIbr" data-test="location-icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20">
                        <path fill="currentColor" fill-rule="evenodd" d="M5.888 9.205c-1.87 0-3.387-1.501-3.387-3.353 0-1.851 1.516-3.352 3.387-3.352 1.87 0 3.386 1.501 3.386 3.352 0 1.852-1.516 3.353-3.386 3.353M5.986 0C2.68 0 0 2.653 0 5.926 0 7.682.799 9.35 1.17 10.17L5.488 20h.998l4.316-9.829c.372-.821 1.171-2.427 1.171-4.183C11.972 2.715 9.292 0 5.986 0"></path></svg></div>
                        <input type="text" class="sc-1pdizu3-6 cBcnTD" autoComplete="off" data-test="takeover-input-input" data-uem-id="takeover-input-input" placeholder="zip code or city" value=""/><svg class="sc-1pdizu3-7 hGFSRT r7q52i-0 hWIzdS sc-1piosrx-0 dJVrdc" viewBox="0 0 40 40" data-test="takeover-input-clear-button" hidden=""><polygon fill="#00234B" points="40,4 36,0 20,16 4,0 0,4 16,20 0,36 4,40 20,24 36,40 40,36 24,20"></polygon></svg></div>
                        <div class="sc-1pdizu3-8 dlZoxv" hidden=""></div>
                        <!-- <div class="sc-1pdizu3-9 jchFYF" data-test="takeover-input-cancel-button" hidden="">Cancel</div> -->
                      </div></div></div></div><div class="sc-1vvvv1f-1 draogi">
                        <button class="sc-1vvvv1f-15 Iwdxw" data-test="search-bar-search-button" data-uem-id="universal-search-submit" title="Search for doctors" type="submit">
                        <!-- <span class="sc-1vvvv1f-16 iVvsId"><span>Find</span></span> -->
                        <!-- <svg class="sc-1vvvv1f-17 jHMnHS sc-513n7z-0 evWdaP sc-1piosrx-0 dJVrdc" viewBox="0 0 38 40" data-test="icon-magnifying-glass"><path d="M37.6,36L26.8,24.7c2.2-2.6,3.6-6,3.6-9.7c0-8.3-6.7-15-15-15s-15,6.7-15,15c0,8.3,6.7,15,15,15c2.5,0,4.8-0.6,6.8-1.7L33.4,40L37.6,36z M4.1,15c0-6.2,5.1-11.3,11.3-11.3S26.7,8.7,26.7,15s-5.1,11.3-11.3,11.3S4.1,21.2,4.1,15z" fill="currentColor"></path></svg> -->
                      </button></div></form></div></section></div>
</div>
<div>
<input type="text" [(ngModel)]="searchterm" (keydown)="search($event)">
<ul *ngFor = "let example of examples">
  <!-- <li> -->
    {{example.FirstName}}
  <!-- </li> -->
  <!-- <li>
    {{example.LastName}}
  </li> -->
</ul>
<div *ngIf = "examples?.length < 1">
  <p>Sorry, not found</p>
</div>
        </div>



        <div class="section section-tabs">
              <div class="container">                  
                    <div class="row">
                            <div class="col-md-20 col-xl-10" >

        <div class="card" >
            <div class="row">
                <div class="img-btn">
                    <img src="assets/img/logo.png" alt="Thumbnail Image" class="img-fluid img-raised">
                </div>
                <div class="column">
                    <h4>Dr.Roshan Madola</h4>
                    <p>MSc - Dietitics / Nutrition</p>
                    <p>Dietitian/Nutritionist, Sports Nutritionist</p>
                    <p> Years Experience Overall  (34 years as specialist)</p>
                    <p>Apollo Spectra Hospitals</p>
                    <button routerLink="/doctorview" class="btn btn-primary btn-round ico" type="button"><i class="now-ui-icons users_single-02"></i> View Profile</button>
                    <button class="btn btn-primary btn-round ico" type="button">Contact Clinic</button>
                    <button  routerLink="/appstep2" class="btn btn-primary btn-round ico" type="button"><i class="now-ui-icons ui-1_calendar-60"></i> Book Appointment</button>
                    <button class="btn btn-primary btn-round ico" type="button"> Call now</button>
                    </div>
            </div>
        </div>

        <div class="card" >
                <div class="row">
                    <div class="img-btn">
                        <img src="assets/img/logo.png" alt="Thumbnail Image" class="img-fluid img-raised">
                    </div>
                    <div>
                        <h4>Dr.Roshan Madola</h4>
                        <p>MSc - Dietitics / Nutrition</p>
                        <p>Dietitian/Nutritionist, Sports Nutritionist, 34 Years Experience Overall  (34 years as specialist)</p>
                        </div>
                </div>
        </div>

        <div class="card" >
                <div class="row">
                    <div class="img-btn">
                        <img src="assets/img/logo.png" alt="Thumbnail Image" class="img-fluid img-raised">
                    </div>
                    <div>
                        <h4>Dr.Roshan Madola</h4>
                        <p>MSc - Dietitics / Nutrition</p>
                        <p>Dietitian/Nutritionist, Sports Nutritionist, 34 Years Experience Overall  (34 years as specialist)</p>
                        </div>
                </div>
        </div>

        <div class="card" >
                <div class="row">
                    <div class="img-btn">
                        <img src="assets/img/logo.png" alt="Thumbnail Image" class="img-fluid img-raised">
                    </div>
                    <div>
                        <h4>Dr.Roshan Madola</h4>
                        <p>MSc - Dietitics / Nutrition</p>
                        <p>Dietitian/Nutritionist, Sports Nutritionist, 34 Years Experience Overall  (34 years as specialist)</p>
                        </div>
                </div>
        </div>

        <div class="card" >
                <div class="row">
                    <div class="img-btn">
                        <img src="assets/img/logo.png" alt="Thumbnail Image" class="img-fluid img-raised">
                    </div>
                    <div>
                        <h4>Dr.Roshan Madola</h4>
                        <p>MSc - Dietitics / Nutrition</p>
                        <p>Dietitian/Nutritionist, Sports Nutritionist, 34 Years Experience Overall  (34 years as specialist)</p>
                        </div>
                </div>
        </div>
                            </div>
                    </div>
                </div>
        </div>

  <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>