<app-pnav></app-pnav>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/Herbal-Medicine-1.jpg');">
    </div>
    <div class="container">
      <div data-aos="zoom-in" data-aos-delay="50" ata-aos-duration="1000" data-aos-easing="ease-in-out"
        class="content-center">
        <img class="logo" src="assets/img/newlogo.png" alt="logo" height=27% width=27%>
        <br>
        <br>
        <h1 class="title">Looking for a doctor?</h1>
      </div>
    </div>
  </div>

  <div class="section section-navbars">
    <div class="container" id="menu-dropdown">
      <div class="row">
        <div class="col-md-12">
          <br>
          <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <div ngbDropdown class="dropdown">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <p>
                        Availability
                      </p>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <a class="dropdown-item" href="#">Available Any Day</a>
                      <a class="dropdown-item" href="#">Available Today</a>
                      <a class="dropdown-item" href="#">Available in next 3 days</a>
                      <a class="dropdown-item" href="#">Available coming weekend</a>
                    </div>
                  </div>
                </li>

                <li class="nav-item">
                  <div ngbDropdown class="dropdown">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <p>
                        Sort By
                      </p>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <!-- <a class="dropdown-item" href="#">Relevance</a> -->
                      <a class="dropdown-item" target="_blank" (click)="send()">Years of Experience(Low to High)</a>
                      <a class="dropdown-item" target="_blank" (click)="send2()">Years of Experience(High to Low)</a>
                      <a class="dropdown-item" target="_blank">Recommendation and Ratings</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div ngbDropdown class="dropdown">
                    <a (click)="getCity()" class="nav-link">
                      <p>
                        Show doctors near me
                      </p>
                      <i class="now-ui-icons location_compass-05"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>






  <div class="section section-basic">
    <div class="container">



      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-circle"></i>
              </span>
            </div>
            <input type="text" [(ngModel)]="Firstname" (keydown)="filterName('Firstname',Firstname)"
              class="form-control" placeholder="doctor name" (focus)="focus=true" (blur)="focus=false">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-circle"></i>
              </span>
            </div>
            <input type="text" [(ngModel)]="City" (keydown)="filterArea('City',City)" class="form-control"
              placeholder="zip code or city" (focus)="focus=true" (blur)="focus=false">
          </div>
          <!-- <div class="row"> -->
          <!-- <button class="btn btn-primary btn-simple btn-round" type="button" (click)="send()"> sort low to high</button>
        <button class="btn btn-primary btn-simple btn-round" type="button" (click)="send2()"> sort high to low</button> -->
          <!-- <button class="btn btn-primary btn-simple btn-round" type="button" (click)="createPoint()">Create Me</button> -->
          <button class="btn btn-primary btn-simple btn-round" type="button" routerLink="/adsearch">Advance
            search</button>
          <!-- <button (click)="createPoint1(38, -119)">Create Me 1</button>  -->
          <!-- </div> -->
        </div>
        <!-- <div class="row">
      <app-starreview [doctorId]="doctorId" [patientId]="patientId"></app-starreview>
    </div> -->

      </div>

      <!-- <div>
  <mat-form-field>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  </mat-form-field>
  
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let name of names" [value]="option">{{name.Firstname}} {{name.Lastname}}</mat-option>
  </mat-autocomplete>
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of names" [value]="option">
              {{name.Firstname}} {{name.Lastname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
</div> -->

      <!-- <div>
<ul *ngFor = "let name of names" >
  
    {{name.Firstname}} {{name.Lastname}}
  
</ul>
<div *ngIf = "names?.length == 0">
  <p>Sorry, not found</p>
</div>
</div> -->

    </div>
  </div>



  <div class="section section-tabs">
    <div class="container col-lg-12">
      <div class="row">
        <div class="col-md-20 col-xl-6">
          <ul *ngFor="let results of filteredNames | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
              class="card">
              <div class="row">
                <div class="img-btn">
                  <img src="{{results.downloadURL}}" alt="Profile Image" class="img-fluid img-raised">
                </div>
                <div class="column col-lg-6">
                  <h4>Dr. {{results.Firstname}} {{results.Lastname}}</h4>
                  <!-- <h6>{{results.RegistrationNumber}}</h6> -->
                  <p>{{results.Email}}</p>
                  <p>Years as specialist: {{results.ExpYears}} </p>
                  <p>Address: {{results.City}}</p>
                  <p> Contact no: {{results.PhoneNumber}}</p>
                  <p>{{results.position}}</p>
                  <button [routerLink]="['/doctorview',results.Userid]" class="btn btn-primary btn-round ico"
                    type="button"><i class="now-ui-icons users_single-02"></i> View Profile</button>
                  <button routerLink="/appstep2" class="btn btn-primary btn-round ico" type="button"><i
                      class="now-ui-icons ui-1_calendar-60"></i> Book Appointment</button>
                  <button (click)="map.places(results.City)" class="btn btn-primary btn-round ico" type="button"> View
                    on Map</button>
                </div>

              </div>
            </div>
          </ul>
        </div>
        <div class="col-lg-6">
          <app-heremap #map appId="oSLwpHRqPiRJAmmiHaTo" appCode="65rk36fLF2krVcVC8rmHYQ" lat="6.9271" lng="79.8612"
            width="90%" height="530px">
          </app-heremap>

        </div>
      </div>

    </div>
  </div>
  <div class="col-md-10">

    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="results.length" class="pagination-primary">
    </ngb-pagination>

  </div>

  <app-pfooter></app-pfooter>
  <!-- <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer> -->
</div>