<app-pnav></app-pnav>
<div class="wrapper">
  



  <div class="section section-tabs">
    <div class="container col-lg-12">
      <div class="row">
        <div class="col-md-20 col-xl-10">
          <ul *ngFor="let results of filteredNames | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
            <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
              class="card">
              <div class="row">
                <div class="img-btn">
                    <img src="assets/img/appointment-confirm-icon-clipart.png" alt="Image" class="img-fluid img-raised">
                  </div>
                <div class="column col-lg-6">
                  <h4>Doctor Name:   Dr. {{results.Doctor}}</h4>
                  <h6>Appointment Date:   {{results.Day}}/{{results.Month}}/{{results.Year}}</h6>
                  <p>Appoitment Time:   {{results.Time}}</p>
                </div>

              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-10">

    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="results.length" class="pagination-primary">
    </ngb-pagination>

  </div>

  <app-pfooter></app-pfooter>
  <!-- <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer> -->
</div>
