<form name="newad" method="post" enctype="multipart/form-data" action="">
  <title>DoctorProfileAdmin</title>
  
  
  <body>
  
  <table>
  
  
  
  <img style="margin-left:25px;" src="avatar.png" width="200" height="200" />
  <tr><td><input type="file" name="image" ></td></tr>
  <tr><td><input name="Submit" type="submit" value="Upload image"></td></tr>
  
  
  
  
  </table>

  
  
  <form name='' id='' action='' method='post'>
          
  <fieldset>
  <table>
  
  <legend>Edit Personal Details</legend>
  
  
    <tr>
                  <td>
                 
                      <label>Address</label><input type='text' name='txt_category' id='category' value='Address' disabled><br>
                      <label>Telephone No</label><input type='text' name='txt_stage' id='stage' value='Telephone No' disabled><br>
                   <label>Available Dates</label>  <input type='text' name='txt_category' id='category' value='Dates' disabled><br>
                     <label>Available Time</label> <input type='text' name='txt_stage' id='stage' value='Time' disabled><br><br>
                     
                      
                      <input type="button" name='edit' value='edit'><br>
                      <input type="button" name='save' value='save'>
                    
                  </td>
              
              </tr>
              
       
  
  </table>
    </fieldset>
  
  
   <br><br> <button type="button">View Your Profile</button>
   </form>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>
          
       $(document).ready(function(){
  
           $("form input[type=text],form input[type=checkbox]").prop("disabled",true);
  
           $("input[name=edit]").on("click",function(){
  
               $(this).closest("td").find("input[type=text],input[type=checkbox],select").removeAttr("disabled");
           })
  
           $("input[name=save]").on("click",function(){
  
              $(this).closest("td").find("input[type=text],input[type=checkbox],select").prop("disabled",true);
           })
  
  
       })
      </script>