<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-color "color-on-scroll="500">
  <div class="container">
    <!-- <img src="assets/img/herbalicon.png" height="30px" width="30px"  /> -->
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
             
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"   routerLink="/index" >
                  <i class="now-ui-icons business_bank"></i>
                  <p>Home</p>
              </a>
          </li>


          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/viewappoinment',my_id]">
                <i class="now-ui-icons ui-1_calendar-60"></i>
                <p>Appoinments</p>
            </a>
        </li>
                       
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/complain',my_id]">
                <i class="now-ui-icons text_align-center"></i>
                <p>Complains</p>
            </a>
        </li>
       

        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons users_single-02

              "></i>
            <p>Profile</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " [routerLink]="['/spage',my_id]" > View Profile </a>
            <a class="dropdown-item " [routerLink]="['/doctoradmin',my_id]"> Edit Profile</a>
            <a class="dropdown-item " [routerLink]="['/report',my_id]" > View Report </a>
           
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/index" >
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
          </a>
      </li>
           
          </ul>
      </div>
  </div>
</nav>





<!-- 
<div class="wrapper"> -->
  



  
  
  <div class="section section-tabs" style="background-color: white;">
    <div class="container col-lg-12">
      <div class="row">
        <div class="col-md-20 col-xl-10">


          <div class="container">

            <div class="content-center brand">
              <img class="logo" src="assets/img/new3logo.png" alt="logo" height=22% width=22% style="margin-left:27rem;margin-top:5rem;">
              
          </div>
          </div> 

          <br><br>
  <div class="row">

    <div class="col col-md-4" style="margin-left:1rem;">
      <div data-aos="zoom-in-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" class="col-md-6">
        

          <app-profile></app-profile>

        </div>
      </div>
    

  

    <div class="col col-md-4" style="margin-left:3rem;">

      <div data-aos="zoom-in-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out" class="col-md-6">

        <div class="card" style="width:30rem;margin-left: 15rem;" >
          <div class="formGroup">

            <form [formGroup]="formnote" (ngSubmit)="savenote(formnote.value)" class="form-horizontal" role="form"
              autocomplete="on">

              <div class="form-group">

<br>
                <label class="col-md-15 control-label" style="font-size:1.5rem;margin-left: 1.5rem;
                "><b>Upload Special Note</b></label>
                <br>
                <div class="col-lg-8">
                  <textarea rows="11" cols="58" formControlName="note" 
                  [placeholder]="note">
                
                </textarea>
                </div>
                <div  class="form-group" >
                 <br>
                  <input type="submit"   value="Save" class=btnRegister1 />         
                </div>
                <br><br><br>
              </div>
              
            </form>
          </div>
        </div>

      </div>
    </div>
    
  </div>







    <div class="container register">
      <div class="card" style="margin-left:7rem;">
        <form [formGroup]="formdata" (ngSubmit)="savevalue()">
          <div class="row register-form">
           
            <div class="col-md-6">

              <label style="font-weight: bold;font-size: 1.2rem;">First Name</label>
              <div class="form-group">
                <input formControlName="Firstname" type="text" class="form-control" 
                  [placeholder]="Firstname" required>
              </div>
              <label style="font-weight: bold;font-size: 1.2rem;">Last Name</label>
              <div class="form-group">
                <input formControlName="Lastname" name="Lastname" type="text" class="form-control"
                  [placeholder]="Lastname"  required>
              </div>


              <label style="font-weight: bold;font-size: 1.2rem;">Experince Year</label>
              <div class="form-group">
                <input formControlName="ExpYears" type="number" name="ExpYears" class="form-control"
                   [placeholder]="ExpYears">
              </div>

              <label style="font-weight: bold;font-size: 1.2rem;">Specialist</label>
              <div class="form-group">
                <input formControlName="Specialist" name="Specialist" type="text" class="form-control"
                   placeholder="Specialist" list="spec" required>
                <datalist id="spec">
                  <option *ngFor="let Specialist of Specialists">{{Specialist}} </option>
                </datalist>
              </div>





            </div>

            <div class="col-md-6">
              <label style="font-weight: bold;font-size: 1.2rem;">Phone Number</label>
              <div class="form-group">
                <input formControlName="PhoneNumber" name="PhoneNumber" type="number" minlength="10" maxlength="10"
                  class="form-control" [placeholder]="PhoneNumber" required>
              </div>

             

              <label style="font-weight: bold;font-size: 1.2rem;">Address</label>


              <div class="form-group">
                <input formControlName="No" name="No" type="text" class="form-control"
                [placeholder]="No"  required>

              </div>
              <div class="form-group">
                <input formControlName="Lane1" name="Lane1" type="text" class="form-control"
                [placeholder]="Lane1"  required>

              </div>
              <div class="form-group">
                <input formControlName="Lane2" name="Lane2" type="text" class="form-control"
                [placeholder]="Lane2"  required>

              </div> 

              <div class="form-group">
                <input formControlName="City" class="form-control" name="City" list="citylist" value="{{post.City}}"
                  placeholder="City" required>
                <datalist id="citylist">
                  <option *ngFor="let City of Citys" >{{City}}</option>
                </datalist>
              </div>


              


            </div>






            <input type="submit" class="btnRegister" value="Update" />



          </div>

        </form>




      </div>


    </div>

<!-- 
<h5>rfghjk</h5> -->

<!--  -->
        </div>
      </div>

    </div>
  </div> 
  

  
<!-- </div> -->
<app-dfooter></app-dfooter>




<!-- adding timeslot -->
<br>
<!-- <div class="timepick">
<app-timepicker></app-timepicker>
</div> -->
<br>









 
