
form h1 {
color: black;
text-align: center;
}
form {
font-size: 22px;
color: black;
}
input {
display: block;
clear: both;
}

label input {
display: block;
color: red;
}
body {

background-color: #ccffcc;
}
button{

border-radius: 8px;
padding: 14px 40px;
margin-left: 40%;
background-color:  #004d00;
font-size: 35px;
font-style: bold;
}
legend{

color:   #004d00;
font-weight:bold;
font-family:"Courier New",Courier;
}