<app-pnav></app-pnav>
<div class="wrapper">
    <!-- <div class="page-header clear-filter"  filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center"> -->
               
                <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div> -->
    

    <div class="container"> <h1 class="title">Schedule an Appointment</h1>
    <ol class="progress-steps">
      <li class="active"><span class="number">&#10003;</span> Choose Doctor</li>
      <li><span class="number">02</span> Choose Date & Time</li>
      <li><span class="number">03</span> Verify Booking</li>
    </ol>
  </div>


  
  <div class="section section-basic">
    <div class="container1">
    <div id="buttons">
      <br>
      <br>
      <div class="row" class="text-center" >
          <div class="col-md-20" >
              <button [routerLink]="['/doctorname',my_id]" class="btn btn-primary btn-round" type="button" >Select By Doctor Name</button>
          </div> 
      </div>
      <div class="row" class="text-center" >
          <div class="col-md-20" >
              <button [routerLink]="['/diseasename',my_id]" class="btn btn-primary btn-round" type="button">Select By Disease Name</button>
          </div> 
      </div>
    </div>
    </div>
  </div>

  <!-- <div>
        <form action="/action_page.php">
            First name:<br>
            <input type="text" [(ngModel)]="firstname" name="firstname" value="Mickey">
            <br>
            Last name:<br>
            <input type="text" [(ngModel)]="lastname"  name="lastname" value="Mouse">
            <br>
            Number:<br>
            <input type="text" [(ngModel)]="number" name="number" value="Mickey">
            <br><br>
            <input type="submit" value="Submit" (click)="addName()">
          </form> 
          <ul *ngFor="let example of examples | async">
            <li>
              <strong>{{example.firstname}} </strong>
              <strong>{{example.lastname}} </strong>
              <strong>{{example.number}}</strong>
          </li>
          </ul>
  </div> -->
 <app-pfooter></app-pfooter>
<!--   
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
</div>
