<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <img src="assets/img/herbalicon.png" height="30px" width="30px"  />
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
               
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
  
  
  
  
  
                <li class="nav-item">
                    <a class="nav-link"   routerLink="/index" >
                        <i class="now-ui-icons business_bank"></i>
                        <p>Home</p>
                    </a>
                </li>
  
  
  
                
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/index" >
                      <i class="now-ui-icons business_globe"></i>
                      <p>Change Language</p>
                  </a>
              </li> -->
  
                
                <li class="nav-item">
                  <a class="nav-link btn btn-neutral" routerLink="/login">
                      <i class="now-ui-icons arrows-1_share-66"></i>
                      <p>Log In</p>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-neutral" routerLink="/signup">
                    <i class="now-ui-icons arrows-1_share-66"></i>
                    <p>Sign In</p>
                </a>
            </li>
            
             
            </ul>
        </div>
    </div>
  </nav>
  


<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(https://monodomo.com/free-wallpapers/ayurveda-wallpapers-desktop-background-For-Free-Wallpaper.jpg)"></div>
    <div class="container">
            
        <div class="col-md-4 content-center">
            <img src="assets/img/logome.png" height="20%" width="20%" />
                <h3>SIGN AS</h3>
            <br><br>
            <button class="btn btn-primary btn-round" type="button" routerLink="/signup/sign-doctor">
                <i class="now-ui-icons users_single-02"></i> as Doctor
            </button>
            <button class="btn btn-primary btn-round" type="button" routerLink="/signup/sign-patient">
                <i class="now-ui-icons users_single-02"></i> as Patient
            </button>
    </div>
   
</div>