

<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Welcome to Jeewaka Arana</a>
             <a class="dropdown-item" href="#">Home</a>
             <a class="dropdown-item" href="#">About Us</a>
             <a class="dropdown-item" href="#">Sign In</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Separated link</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Change Language</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Designed by Jeewaka Arana Team">
                Menu
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">





                <li class="nav-item">
                    <a class="nav-link"   routerLink="/home" >
                        <i class="now-ui-icons business_bank"></i>
                        <p>Home</p>
                    </a>
                </li>



                
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user" >
                      <i class="now-ui-icons business_globe"></i>
                      <p>Change Language</p>
                  </a>
              </li>
    


                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="d-lg-none d-xl-none">Twitter</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
  
      </div>
    <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        
    </div>
    <h2 style="color: white">Sign as:</h2>
    <div class="container-fluid" style="margin:6px 60px">
      
  
      <button class="button button2">Doctor</button>
      <button class="button button2">Patient</button>
      <div style="width:100%;height:400px;">
        <img src="assets/img/doc2.jpg" alt="Norway" style="float:left;width:20%;height:70%;object-fit:cover;margin: 6px 60px;">
  
        <img src="assets/img/pa.jpg" alt="Paris" style="float:left;width:20%;height:70%;object-fit:cover;margin: 6px 60px;">
      </div>
    </div>
    </div>
    <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/about-us">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                  {{data | date: 'yyyy'}}, Designed by Jeewaka Arana Team.
                   
                </div>
            </div>
        </footer>
        
  