

 <div class="container-fluid" style="margin:0; padding:0;background: url(https://tse2.mm.bing.net/th?id=OIP.5--4JJ9_HUG_vZ3mTLFlnAAAAA&pid=Api&P=0&w=204&h=154); background-position:center;background-size: cover;">
    <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        
    </div>
    <h1 style="color: white">Sign as:</h1>
    <div class="container-fluid" style="margin:6px 60px">
      
  
      <button class="button button2" >Doctor</button>
      <button class="button button2">Patient</button>
      <div style="width:100%;height:400px;">
        <img src="assets/img/doc2.jpg" alt="Norway" style="float:left;width:20%;height:70%;object-fit:cover;margin: 6px 60px;">
  
        <img src="assets/img/pa.jpg" alt="Paris" style="float:left;width:20%;height:70%;object-fit:cover;margin: 6px 60px;">
      </div>
    </div>
     </div> 
  