<app-pnav></app-pnav>
<div class="wrapper">
    <div class="page-header clear-filter"  filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Schedule an Appointment</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <ol class="progress-steps">
      <li class="completed"><span class="number">&#10003;</span> Choose Doctor
      <li class="active"><span class="number">&#10003;</span> Choose Date & Time</li>
      <li><span class="number">03</span> Verify Booking</li>
    </ol>
  </div>

  <div class="container">
  <div class="time-picker-container">
      <h4 class="text-center">{{today | date}}</h4>
      <!-- <h4 class="text-center">{{tomorrow | date: 'MMMM'}}</h4> -->
      <div class="time-picker">
        <div class="row time-picker-header">
          <button href="#" class="arrow left inactive"></button>
          <ul class="date-slot">
            <li class="date-slot-wrapper">
              <div class="date-slot-item">
                <span class="date-slot-day">{{tomorrow | date: 'EEEE'}}</span>
                <span class="date-slot-date">{{tomorrow | date: 'dd'}}</span>
              </div>
            </li>
            <li class="date-slot-wrapper">
              <div class="date-slot-item">
                <span class="date-slot-day">{{tomorrow1 | date: 'EEEE'}}</span>
                <span class="date-slot-date">{{tomorrow1 | date: 'dd'}}</span>
              </div>
            </li>
            <li class="date-slot-wrapper">
              <div class="date-slot-item">
                <span class="date-slot-day">{{day2 | date: 'EEEE'}}</span>
                <span class="date-slot-date">{{day2 | date: 'dd'}}</span>
              </div>
            </li>
            <li class="date-slot-wrapper">
              <div class="date-slot-item">
                <span class="date-slot-day">{{day2 | date: 'EEEE'}}</span>
                <span class="date-slot-date">{{day2 | date: 'dd'}}</span>
              </div>
            </li>
            <li class="date-slot-wrapper">
              <div class="date-slot-item no-free-slot">
                <span class="date-slot-day">{{day2 | date: 'EEEE'}}</span>
                <span class="date-slot-date">{{day2 | date: 'dd'}}</span>
              </div>
            </li>
          </ul>
          <button href="#" class="arrow right"></button>
    
        </div>
    
        <div class="row">
    
          <ul class="time-slot">
            <li class="time-slot-item">9:00 - 9:30</li>
            <li class="time-slot-item">10:00 - 10:30</li>
            <li class="time-slot-item">11:00 - 11:30</li>
            <li class="time-slot-item">11:30 - 12:00</li>
          </ul>
          <ul class="time-slot">
            <li class="time-slot-item">8:00 - 8:30</li>
            <li class="time-slot-item">10:00 - 10:30</li>
            <li class="time-slot-item">11:00 - 11:30</li>
          </ul>
          <ul class="time-slot">
            <li class="time-slot-item">9:00 - 9:30</li>
            <li class="time-slot-item">10:00 - 10:30</li>
            <li class="time-slot-item">11:00 - 11:30</li>
            <li class="time-slot-item">12:00 - 12:30</li>
            <li class="time-slot-item">13:00 - 13:30</li>
          </ul>
          <ul class="time-slot">
            <li class="time-slot-item">9:00 - 9:30</li>
            <li class="time-slot-item">10:00 - 10:30</li>
            <li class="time-slot-item">11:00 - 11:30</li>
            <li class="time-slot-item">12:00 - 12:30</li>
          </ul>
          <ul class="time-slot">
            <li class="time-slot-item">9:00 - 9:30</li>
            <li class="time-slot-item">10:00 - 10:30</li>
            <li class="time-slot-item">11:00 - 11:30</li>
          </ul>
        </div>
      </div>
    
    </div>
    
        <div class="section section-basic">
            <div class="container">
            <div id="buttons">
              <div class="row" class="text-center" >
                  <div class="col-md-10" >
                      <button routerLink="/appstep3" class="btn btn-primary btn-round" type="button">Next</button>
                  </div> 
              </div>
            </div>
            </div>
          </div>
         
    
  
    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
</div>
<app-pfooter></app-pfooter>
</div>
