<app-pnav passid={{my_id}}></app-pnav>
<div class="wrapper">
  



    

    <div class="container">
    <ol class="progress-steps">
      <li class="completed"><span class="number">&#10003;</span> Choose Doctor
      <li class="completed"><span class="number">&#10003;</span> Choose Date & Time</li>
      <li class="active"><span class="number">&#10003;</span> Verify Booking</li>
    </ol>
  </div>

  <br>
  
  <!-- <div class="section section-basic">
      <div class="container">
      <div id="buttons">
        <br>
        <br>
        <div class="row" class="text-center" >
            <div class="col-md-20" >
                <button routerLink="/doctorname" class="btn btn-primary btn-round" type="button" >Confirm</button>
            </div> 
        </div>
        <div class="row" class="text-center" >
            <div class="col-md-20" >
                <button routerLink="/diseasename" class="btn btn-primary btn-round" type="button">Cancel</button>
            </div> 
        </div>
      </div>
      </div>
    </div> -->
   
    <div class="section section-basic">
            <div class="container">
        <body> 
            <div class="reservation">
              <header>
                <a [routerLink]="['/appstep2',patid,my_id]">
                  <i class="fa fa-angle-left fa-2x" aria-hidden="true"> Change Date & Time</i>
                </a>
             
              </header>
              <br>
              <section class="date_time">
                <p><i class="now-ui-icons ui-1_calendar-60"></i>  On <b>{{mydate}}</b></p>
                <p><i class="now-ui-icons ui-2_time-alarm"></i>  At <b>{{Time}}</b></p>
              </section>
              <hr>
              <header>
                    
                    <picture>
                        <img src="{{profile}}" alt="Profile photo"/>
                        
                    </picture>
                    <p class="info" >{{Doctor}}</p>
                        <p class="info">{{specialist}}</p>
                </header>
                <hr>
              <section class="date_time">
                
                <p class="info">{{ClinicAddress}}</p>
               
                </section>
            </div>
            <div class="reservation">
                    <div class="profile-details">
                            <div class="user-details">
                                <p class="header-user-detail"><b>Confirm Appoinment</b></p>
                                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="user-form">
                                                            
                                        <p>Patient/Visitor Name*</p><input type="text" id="firstName"  formControlName="PatientName" placeholder="Patient/Visitor Name" required/>
                                        <p>Email*</p><input type="email" id="email" formControlName="Email" placeholder="Email" required/>
                                        <p>Mobile number*</p><input type="number" id="PhoneNumber" formControlName="PhoneNumber"   placeholder="Mobile number" required/>
                                       
                                        <button class="btn btn-primary btn-round ico" type="submit" >Confirm</button>
                                      
                                    </form>    
                                 
                                      
                            </div>  
                  </div>
            </div>
          </body> 
        </div>
    </div>

    


    <app-pfooter></app-pfooter>
    
</div>
