.btnRegister{
    float:left;
    //margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #f96332;
    color: #fff;
    font-weight: 600;
    width: 20%;
    cursor: pointer;
  }