





<div class="card text-white  mb-3" style="max-width: 75rem;">
    <div class="card-header">

        <a [routerLink]="['/doctor/doctorprofilepage']" class="btn btn-primary">View Your Profile</a>

    </div>
    <div class="card-body">
      

        <div class="formGroup" class="center">
          
            <form>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Name:</b></label>
                    <div class="col-lg-8">
                      <input class="form-control" formControlName="name" type="text" value="Dr." disabled>
                    
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="col-lg-3 control-label"><b>Qualified Status:</b></label>
                      <div class="col-lg-8">
                        <input class="form-control" formControlName="Position" type="text" value="Generation only"  disabled>
                      </div>
                    </div>
            
                    <div class="form-group">
                        <label class="col-lg-3 control-label"><b>Email Address:</b></label>
                        <div class="col-lg-8">
            
                          <input class="form-control" formControlName="Email" type="email" value="sample@gmail.com" disabled>
                          
                        </div>
                      </div>
            
            </form>
                 
                  </div>
              
               
  




    </div>
  </div>

<!-- 
      <div class="row">
          
          <div class="card" style="width:45rem">
              <div class="card">
              <div class="card-body" >
                  <div class="formGroup" class="center">
          
          <form>
              <div class="form-group">
                  <label class="col-lg-3 control-label"><b>Name:</b></label>
                  <div class="col-lg-8">
                    <input class="form-control" formControlName="name" type="text" value="Dr." disabled>
                  
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"><b>Qualified Status:</b></label>
                    <div class="col-lg-8">
                      <input class="form-control" formControlName="Position" type="text" value="Generation only"  disabled>
                    </div>
                  </div>
          
                  <div class="form-group">
                      <label class="col-lg-3 control-label"><b>Email Address:</b></label>
                      <div class="col-lg-8">
          
                        <input class="form-control" formControlName="Email" type="email" value="sample@gmail.com" disabled>
                        
                      </div>
                    </div>
          
          </form>
               
                </div>
                </div>
                </div>
          </div>
             













          <div class="card" style="width:45rem">
            <div class="card1">
                <div class="card-body" >
                <a [routerLink]="['/doctor/doctorprofilepage']" class="btn btn-primary">View Your Profile</a>
              </div>
            </div>
          </div>
          </div>
         -->