<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-color "color-on-scroll="500">
    <div class="container">
      <img src="assets/img/herbalicon.png" height="30px" width="30px"  />
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
               
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
  
  
              <li class="nav-item">
                <a class="nav-link"   routerLink="/index" >
                    <i class="now-ui-icons business_bank"></i>
                    <p>Home</p>
                </a>
            </li>
  
  
                
            <li class="nav-item">
              <a class="nav-link" routerLink="/index" >
                  <i class="now-ui-icons business_globe"></i>
                  <p>Change Language</p>
              </a>
          </li>
  
          
  
              
        
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/index" >
                  <i class="now-ui-icons ui-1_calendar-60"></i>
                  <p>Appoinments</p>
              </a>
          </li>
                         
          <li class="nav-item">
              <a class="nav-link" href="/bothcomment" >
                  <i class="now-ui-icons text_align-center"></i>
                  <p>Comments</p>
              </a>
          </li>
          <li class="nav-item dropdown">
           
            <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
                <i class="now-ui-icons ui-1_zoom-bold"></i>
                <p>Search</p>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item  " href="/doctorview" >Search By Name</a>
              <a class="dropdown-item" href="/doctoradmin">Search By Diseases</a>
              
            </div>
          </li>
  
          <li class="nav-item dropdown">
            <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="now-ui-icons users_single-02
  
                "></i>
              <p>Profile</p>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item " href="/doctorview" > View Profile </a>
              <a class="dropdown-item " href="/doctoradmin"> Edit Profile</a>
              
            </div>
          </li>
  
          
  <!-- 
              <li class="nav-item">
                <a class="nav-link btn btn-neutral" routerLink="/signup">
                    <i class="now-ui-icons arrows-1_share-66"></i>
                    <p>Sign In</p>
                </a>
            </li>
             -->
             
            </ul>
        </div>
    </div>
  </nav>

  

<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"style="background-image: url('https://www.schoolhousehotel.com/upload/slide_images/spa-1.jpg');">
 
  
    </div>
    
    <div class="container">
  
          
  
  
      <div class="content-center">
  
        
          <h1 style="font-family: cursive;" class="title">Manage Your Comments</h1>
          <div class="text-center">
            
            
          </div>
      </div>
  </div>
  </div>
  
  <br><br><br><br><br>
  <hr class="new3">
  <br>
  <div>
    <h1 style="margin-left:19rem;font-family: fantasy;">Your Ideas Are More Important To Us</h1>
 
  </div>
 
  <div class="row">
      <div class="col col-md-7" >
 
    <img src="https://i1.wp.com/sanacionysistemadevida.com/wp-content/uploads/2012/09/Las-terapias-naturales-viven-una-autentica-edad-de-oro-en-nuestros-dias.jpg?fit=680%2C382" alt="">
    <br>
    

  
</div>
<div class="col col-md-3" >
    <p style="font-family:cursive;font-size: 26px;">" More than 400,000 people have signed up on our site.
        we are going strong in spreading the message of Ayurveda throughout the world! "</p> 
  </div>
  </div>
  <!-- <p style="font-family:cursive;font-size: 24px;">" More than 400,000 people have signed up on our site.
     we are going strong in spreading the message of Ayurveda throughout the world! "</p> -->
  <br><br><br><br><br><br><br>
  <div class="row">


      <br><br><br><br><br><br><br>
      <div class="col col-md-6" >
          <img src="https://ihplb.b-cdn.net/wp-content/uploads/2011/03/kerala-ayurveda-tour-packages2.jpg"  style="width: 750px;height: 450px;">
     </div>

          <div class="col  col-md-4 ">
              <br><br><br>
              <a  href="/deletecomment"> <h2><b>About You</b>  </h2></a>
              <br>
              <h3 style="font-family:cursive;">We 
                  provide an open forum for patients to share good and bad experiences regarding any doctors who treated them.
                They will display on your page as public so that everyone can look at.If any bad reviews you can manage them.</h3>
            </div>
    
    
           
         
  </div>
      
  <div class="row">
    <div class="col col-md-5">
      <br><br><br>
      <a  href="/complain"><h2><b>About Jeewaka Arana</b>  </h2> </a> 
     <br> 
      <h3 style="font-family:cursive;"> Jeewaka Arana is a popular ayurvedic medicine site founded in 2019. We 
          provide an open forum for users to share good and bad experiences regarding any doctors or our site.
         </h3>  
</div>
<div class="col col-md-4">
     <img src="http://sparshaspa.in/images/ayu-img-3.jpg" style="width: 750px;height: 450px;">
</div>
  
  </div>
  <app-dfooter></app-dfooter>
  
  <!--  -->
  
  