<div class="section section-signup" style="background-image: url(''); background-size: cover; background-position: top center; min-height: 700px;">
  <div class="container register">
  <div class="row">

      <div class="col-md-12">       
          <div class="form-group">
              <input ngModel #firstName="ngModel" name="Name" type="text" class="form-control" id="firstName" placeholder="First Name..." [ngClass]="{ 'is-invalid': userRegform.submitted && firstName.invalid }" required/>
              <div *ngIf="userRegform.submitted && firstName.invalid" class="invalid-feedback">
                  <div *ngIf="firstName.errors.required">First Name is required</div>
              </div>
</div>
<app-afooter></app-afooter>