<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-color "color-on-scroll="500">
  <div class="container">
    <!-- <img src="assets/img/herbalicon.png" height="30px" width="30px"  /> -->
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" >
             
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"   routerLink="/index" >
                  <i class="now-ui-icons business_bank"></i>
                  <p>Home</p>
              </a>
          </li>


          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/docAppoinment',my_id]">
                <i class="now-ui-icons ui-1_calendar-60"></i>
                <p>Appoinments</p>
            </a>
        </li>
                       
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/complain',my_id]">
                <i class="now-ui-icons text_align-center"></i>
                <p>Complains</p>
            </a>
        </li>
        <!-- <li class="nav-item dropdown">
         
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
              <i class="now-ui-icons ui-1_zoom-bold"></i>
              <p>Search</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  " href="/doctorname" >Search By Name</a>
            <a class="dropdown-item" href="/diseasename">Search By Diseases</a>
            
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons users_single-02

              "></i>
            <p>Profile</p>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item " [routerLink]="['/spage',my_id]" > View Profile </a>
            <a class="dropdown-item " [routerLink]="['/doctoradmin',my_id]"> Edit Profile</a>
            <a class="dropdown-item " [routerLink]="['/report',my_id]" > View Report </a>
           
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/index" >
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
          </a>
      </li>
           
          </ul>
      </div>
  </div>
</nav>



  
  <div class="container">

    <div class="content-center brand">
      <img class="logo" src="assets/img/new3logo.png" alt="logo" height=22% width=22% style="margin-left:27rem;margin-top:5rem;">
      
  </div>
  </div> 


  <div class="section section-tabs" style="background-color: white;">
    <div class="container col-lg-12">
      <div class="row">
        <div class="col-md-20 col-xl-10">
  
          <div class="row">
            <!--
              <div class="col-md-4" style="margin-left:16rem;">
                  
                <div data-aos="fade-up"
     data-aos-duration="3000">

                      <img src="assets/img/images.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">Make Appointments</h4>
                      <a class="category text-primary" href="/appstep1">Click Here</a>
                      
                      <p class="description">We list for free and ensure each doctor profile is verified for medical license, qualification and specialisation.
                          </p>
                  

                          </div> 
              </div>
            -->
              <div class="col-md-4" style="margin-left:5rem;">
                  
                <div data-aos="fade-up"
     data-aos-duration="3000">
  
          
                      <img src="assets/img/appo.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">Handle Appointment</h4>
                      <a class="category text-primary"  [routerLink]="['/viewappoinment',my_id]" >Click Here</a>
                    
                      <p class="description">We help millions of patients and thousands of doctors with a simpler, easier healthcare experience.
                          </p>
                      

              </div>
              </div>
          </div>
      
  </div>
  </div>
    </div>
  </div>
     


<app-dfooter></app-dfooter>
