.btnRegister{
    float:right;
    //margin-top: 10%;
    border: none;
    border-radius: 1rem;
    padding: 2%;
    background: #f96332;
    color: rgb(238, 115, 115);
    font-weight: 400;
    width: 12%;
    cursor: pointer;
}
hr.new3 {
    border-top: 3px dotted red;
  }
  hr.new4 {
    border-top: 2px dotted black;
  }
 